$standard-bank-blue: #1561A6;
$links-blue: #2570E0;
$error-cranberry: #B7114C;
$background-white: #FFFFFF;
$dark-grey: #333333;
$medium-grey: #666666;
$light-grey: #999999;
$pale-grey: #EEEEEE;
$confirmation-green: #5FA33B;
$warning-orange: #EA6600;
$silver-grey: #E3E3E3;
$credit-text-green: #5D9F3A;
$debit-text-red: #D20034;
$turquoise: #15AFCB;
$yellow: #EBCB38;
$blue: #0066CC;
$green: #5FA33B;
$orange: #DF9911;
$biscuit: #C2AC97;
$pecan: #7D7067;
$charcoal: #566A78;
$petrol: #28516B;
$peacock: #137B87;
$gunmetal-foil: #565C5F;
$summer-sky: #4983B7;
$night-sky: #445E89;
$sea-foam: #9EB3BE;
$winter-sky: #96C4D7;
$toast: #A69A91;
$pink: #FFE5E5;