$html-percentage: 62.5%;
$font-size-px: 14px;
$font-size-rem: 1.4rem;
$silver-grey: #E3E3E3;
$links-blue: #2570E0;
$pale-grey: #EEEEEE;
$medium-grey: #666666;
$background-white: #FFFFFF;
$light-grey: #999999;
$dark-grey: #333333;
$black: #000000;
$credit-text-green: #5D9F3A;
$standard-bank-blue: #1561A6;
$debit-text-red: #D20034;
$pink: #FFE5E5;
$font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
$arial-font-family: 'Arial Regular', 'Arial';
