$html-percentage: 62.5%;
$font-size-px: 14px;
$font-size-rem: 1.4rem;
$font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
$arial-font-family: 'Arial Regular', 'Arial';