$html-percentage: 62.5%;
$font-size-10px: 10px;
$font-size-10rem: 1rem;
$font-size-11px: 11px;
$font-size-11rem: 1.1rem;
$font-size-12px: 12px;
$font-size-12rem: 1.2rem;
$font-size-13px: 13px;
$font-size-13rem: 1.3rem;
$font-size-14px: 14px;
$font-size-14rem: 1.4rem;
$font-size-15px: 15px;
$font-size-15rem: 1.5rem;
$font-size-16px: 16px;
$font-size-16rem: 1.6rem;
$font-size-17px: 17px;
$font-size-17rem: 1.7rem;
$font-size-18px: 18px;
$font-size-18rem: 1.8rem;
$font-size-19px: 19px;
$font-size-19rem: 1.9rem;
$font-size-20px: 20px;
$font-size-20rem: 2rem;
$font-size-23px: 23px;
$font-size-23rem: 2.3rem;
$font-size-24px: 24px;
$font-size-24rem: 2.4rem;
$font-size-25px: 25px;
$font-size-25rem: 2.5rem;
$font-size-26px: 26px;
$font-size-26rem: 2.6rem;
$font-size-27px: 27px;
$font-size-27rem: 2.7rem;
$font-size-30px: 30px;
$font-size-30rem: 3rem;
$font-size-34px: 34px;
$font-size-34rem: 3.4rem;
$font-size-40px: 40px;
$font-size-40rem: 4rem;
$font-size-68px: 68px;
$font-size-68rem: 6.8rem;
$font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
$arial-font-family: 'Arial Regular', 'Arial';
