@import 'constants';
@import 'colors';

.account-breadcrumb {
	display: inline-block;
	padding: 0;
	background-color: $grey-page-background;
	height: 26px;
	font-size: $font-size-16px;
	font-size: $font-size-16rem;
}

div.sub-header-wrapper .sub-header .sub-header-title {
	font-size: $font-size-16px;
	font-size: $font-size-16rem;
	color: $dark-grey;
	font-family: $font-family;
}

.mobilelineseperator {
	margin-left: 13px;
}


.base-link-color {
	color: $links-blue !important;
}

.details-overlay {
	border: 1px solid $border-grey;
	border-radius: 3px;
	padding: 18px 20px;
	margin-top: 8px;
	background: $account-summary-display !important;
	position: relative;
	height: auto;
	font-size: $font-size-12px;
	font-size: $font-size-12rem;
}

.details-overview {
	font-size: $font-size-13px;
	font-size: $font-size-13rem;
	color: $medium-grey;
	font-family: $font-family;
	margin-right: 10px;
}

.account-details-amounts-bold-phone {
	font-size: $font-size-13px;
	font-size: $font-size-13rem;
	color: $medium-grey;
	font-family: $font-family;
	display: inline-block;
	font-weight: 900;
	margin-right: 0;
}

.details-overview-feed-details {
	font-size: $font-size-13px;
	font-size: $font-size-13rem;
	color: $light-grey;
	font-family: $font-family;
	display: block;
	padding-bottom: 0;
	width: 500px;
}

.details-overview-bluetext {
	font-size: $font-size-13px;
	font-size: $font-size-13rem;
	font-family: $font-family;
	display: inline-block;
	margin-right: 10px;
}

.sub-header-options {
	font-weight: bold;
	color: $standard-bank-blue;
}

.portfolio-value-bold {
	font-size: $font-size-13px;
	font-size: $font-size-13rem;
	color: $medium-grey;
	font-family: $font-family;
	display: inline-block;
	margin-right: 20px;
	font-weight: 900;
}

.streaming-button {
	width: 80px;
	height: 33px;
	border: 1px solid $standard-bank-blue;
	border-radius: 3px;
	background-color: $standard-bank-blue;
	padding: 7px;
	color: $background-white;
	font-size: $font-size-13px;
	font-size: $font-size-13rem;
}

.account-dropdown-position {
	top: 91px !important;
}

.totalchange-padding {
	margin-left: 15px;
}

.bid-button {
	width:91px;
}

.live-button {
	width:91px;
}

@media only screen and (max-width: 40em) {
	.block-portfolio-value-text {
		display: block;
	}

	.details-overview {
		display: block;
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
		color: $medium-grey;
		font-family: $font-family;
		margin-left: 0;
		padding-right: 0;
		margin-right: 0;
	}

	.portfolio-value {
		padding: 13px 0 15px 0;
		margin-bottom: 10px;
		margin-top: -4px;
		border-bottom: 1px solid $light-grey;
		background: $silver-grey;
	}

	.details-overview-amounts-bold-phone {
		float: right;
		padding-right: 15px;
		font-weight: 900 !important;
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
		padding-top: 4px;
	}

	.mobilelineseperator {
		border-bottom: 1px solid $pale-grey;
		margin-bottom: 8px;
		padding-bottom: 7px;
		background-color: $background-white;
	}


	.accounts-details-wrapper {
		margin-bottom: 0 !important;
		padding: 0;
		height: auto !important;
		background-color: $background-white;
	}

	.details-warp .details-overlay {
		height: auto;
		padding: 0;
		background-color: $background-white;
	}

	.account-details-amounts-bold-phone {
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
		color: $dark-grey;
		font-family: $font-family;
		display: inline-block;
		font-weight: normal !important;
		margin-right: 0;
	}

	.portfolio-value-bold {
		font-size: $font-size-27px;
		font-size: $font-size-27rem;
		color: $medium-grey;
		font-family: $font-family;
		display: inline-block;
		font-weight: 400 !important;
		float: right;
		margin-right: 14px;
		padding-top: 4px;
	}

	div.sub-header-wrapper .sub-header .sub-header-options span {
		cursor: pointer;
    margin-right: 14px;
		margin-left: 20px !important;
    text-align: center;
    float: right;
	}

	.details-overview-feed-details {
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
		color: $medium-grey;
		font-family: $font-family;
		display: inline-block;
		border-bottom: 1px solid $light-grey;
		padding-left: 15px;
	}

	div.sub-header-wrapper .sub-header {
		padding: 0 0 15px 0;
		height: 100%;
		margin-bottom: 0;
		border-bottom: 1px solid $light-grey;
		padding-top: 15px;
		background-color: $background-white;
	}

	.body-wrapper {
		/*padding-top: 49px;*/
		padding-top: 98px;
		margin-top: 0;
	}

	.text-blue-instruments-name {
		color: $standard-bank-blue;
		font-size: $font-size-18px;
		font-size: $font-size-18rem;
	}

	.accordion .accordion-navigation > .content, .accordion dd > .content {
		display: none;
		padding: 0;
	}

	.fa-chevron-right, .fa-chevron-down, fa-chevron-up {
		color: $standard-bank-blue;
	}

	.text-grey-instruments-name {
		color: $light-grey;
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
	}

	.text-grey-instruments-value-large {
		color: $medium-grey;
		font-size: $font-size-25px;
		font-size: $font-size-25rem;
	}

	.text-grey-instruments-qty {
		color: $medium-grey;
		font-size: $font-size-14px;
    font-size: $font-size-14rem;
	}

	.text-grey-instruments-qty-value {
		color: $silver-grey;
		font-size: $font-size-14px;
    font-size: $font-size-14rem;
	}

	.text-grey-instruments-paddlingleft {
		color: $medium-grey;
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
		padding-left: 10px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.details-overlay {
		height: auto;
		font-size: $font-size-30px;
		font-size: $font-size-3rem;
	}

	.details-overview-feed-details {
		font-size: $font-size-10px;
		font-size: $font-size-10rem;
	}

	.acc-empty-boxes {
		font-size: $font-size-10px;
		font-size: $font-size-10rem;
		height: 55px;
	}

	.seperator {
		border-left: 0;
	}

	.text-green {
		color: $green;
		font-weight: normal !important;
		font-size: $font-size-12px;
		font-size: $font-size-12rem;
	}

	.text-green-large {
		color: $green;
		font-weight: normal !important;
		font-size: $font-size-18px;
		font-size: $font-size-18rem;
	}

	.text-red-large {
		color: $green;
		font-weight: normal !important;
		font-size: $font-size-18px;
		font-size: $font-size-18rem;
	}

	.acc-trans-body-container {
		font-size: $font-size-20px;
		font-size: $font-size-2rem;
	}
}
