html {
  font-size: 62.5%;
}

body {
  font-size: 14px; font-size: 1.4rem;
}

.tab-bar {
  height: 45px;
  position: fixed; 
  top: 0; 
  margin: auto; 
  z-index: 100000; 
  width: 100%;
}

.body-wrapper {
  background: #E9EAED;
  padding-top: 115px; 
}

.header-icons {
  right: 45px;
  font-size: 26px; font-size: 2.6rem;
  position: absolute;
  color : #0000FF;
  top: 8px !important;
}

div.header div.header-top .sign-out-header {
  position: absolute;
  right: -25px;
  top: 8px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  font-size: 14px; font-size: 1.4rem;
  color: #2570E0;
}

.dropdown.button::after, button.dropdown::after {
  font-family: 'FontAwesome';
  content: "\f078";
  border: none;
  margin-top: 0 !important;
  top: 10px;
  text-align: right;
}

.dropdown.button.small::after, button.dropdown.small::after {
  border-width: 0.4375rem;
  right: 20px !important;
  margin-top: -0.15625rem;
}

.dropdown.button.small, button.dropdown.small {
  padding-right: 5rem;
}

.empty-box-container {
  height: auto;
}

a {
  color: #555;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.acc-empty-boxes {
  height: 45px;
  background: #EFF0F3;
  float: left;
  color: #2570E0;
  font-size:12px; font-size:1.2rem;
  padding-left: 10px;
  margin-right: 0;
  padding-top: 10px;
  border-top: 1px solid #C9CACB;
  border-left: 1px solid #C9CACB;
  border-bottom: 1px solid #C9CACB;
  border-right: 0 solid #C9CACB;
  margin-bottom: 4px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.selected {
  background-color: #FFF;
  border-left:1px solid #999999; border-bottom:1px solid #999999; border-top:1px solid #999999;
  width:101%;
  color:#000;
  position:relative;
  z-index: 1000 !important;
  overflow:hidden;
}

.noLeftPadding {
 padding-left: 0 !important;
}

.search-textbox {
  padding-right: 7px;
}

.enabled {
  background-color: #0099FF;
  color: #FFFFFF;
}

.disabled {
  background-color: #EFEFEF;
  color: #0099FF;
}

.seperator {
  border-left: 1px solid #DEDEDE;
  padding-left: 10px;
}

.text-red {
  color : #FF0000 !important;
}

.text-green {
  color: #007F00 !important;
}

.text-blue {
  color : #2570E0 !important;
}

.text-grey {
  color : #D3D3D3;
}

.bold-text {
  font-weight: 900;
}

.disclaimer-text {
  color: #666666;
  font-size: 11px;
}

.k-grid {
  width: 100%;
  font-size: 10px;
}

.brightBlue {
  color: #0099FF;
}

.no-padding-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

no-padding-top {
  padding-top: 0;
  margin-top: 0;
}

.top-performers-headings {
  font-size: 18px;
  color: #666666;
  line-height: 48px;
  padding-bottom: 10px;
}

.top-performers-name {
  padding-top: 6px;
  font-size: 12px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  color: #FFF;
}

.header-icons-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.block-text {
  display: block;
}

.loading-pages {
  color: #333333;
  font-family: 'Arial Regular', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 42px;
  width: 100%;
  height: 100%;
}

.session-timed-out-buttons {
  font-size: 12px;
  color: #2570E0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  border: 1px solid #2570E0;
  padding: 3px 10px 3px 10px;
}

.session-timed-out-option-box {
  border: 1px solid #2570E0;
}

.underline-text {
  text-decoration: underline;
  color: #2570E0;
}

.underline-text:hover {
  text-decoration: underline;
  color: #2570E0;
}

.fa-chevron-right, .fa-chevron-down, fa-chevron-up {
  color: #666666;
}

.k-group {
  display: inline-block;
  text-align: center;
  width: 200px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  padding: 2em;
  margin: 10px;
}

.left-small .left-off-canvas-toggle {
  height: 45px;
  width: 45px;
}

.left-small {
  border-right: none;
} 

.tab-bar .header-wrapper .header .fluid-grid {
  height: 45px;
}

.header .header-top {
  padding-top: 0 !important;
}

.header-logo-icon {
  margin: 5px 0;
}

.rounded-dropdown-corners {
  border-radius: 3px;
}

.list-separator:not(:last-child) {
  border-bottom: 1px solid #E3E3E3;
}

li.list-separator:hover {
  border-left: 2px solid #0000FF;
}

li.list-separator {
  border-left: 2px solid #FFFFFF;
}

.f-dropdown li a:hover {
  color: #0000FF;
  background-color: #FFFFFF;
}

.phone-row {
  background-color: #FFFFFF !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #A8A8A8;
  margin: 1em 0;
  padding: 0;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;

}

td:first-child {
  padding-right: 0;
}

button, .button {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: #FFF;
 border-color: #2F67B1;
 color: #2570E0;
 transition: background-color 300ms ease-out; 
}

button, .button.small {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: #FFF;
 border-color: #999;
 color: #2570E0;
 transition: background-color 300ms ease-out; 
}

.dropdown.button::after, button.dropdown::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0;
 top: 0px;
 right: 20px;
 text-align: right;
}

.dropdown.small::after, button.small::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0;
 top: 0;
 right: 20px;
 text-align: right;
}

dropdown.button, button.dropdown {
  position: relative;
  outline: none;
  padding-right: 5.4rem !important;
}

.button:hover, button:focus, .button:hover, .button:focus {
 color: #2570E0; 
}

.button:hover, button:focus, .button:hover, .button:focus {
 background-color: #FFF; 
}

.f-dropdown li a {
  display: block;
  padding: 1rem;
  color: #555555;
  font-size: 13px;
}

.f-dropdown-common li a {
 display: block;
 padding: 8px;
 color: #2570E0;
 text-align: left;
 width: 100%;
}

.f-dropdown-common {
 position: absolute;
 left: -9999px;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: #FFFFFF;
 border: solid 1px #2F67B1;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.f-dropdown-small {
 position: absolute;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: #FFFFFF;
 border: solid 1px #999;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 display: block; 
 top: 33px; 
 left: auto !important;
 width: 91px;
}

.f-dropdown-small li a {
 display: block;
 padding: 8px 8px 8px 12px;
 color: #2570E0;
 text-align: left;
 width: 100%;
}

.f-dropdown-medium {
 position: absolute;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: #FFFFFF;
 border: solid 1px #999;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 display: block; 
 top: 33px; 
 left: auto !important;
 width: 133px;
}

.f-dropdown-medium li a {
 display: block;
 padding: 8px;
 color: #2570E0;
 text-align: left;
 width: 100%;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;

}

td:first-child {
  padding-right: 0;
}

button, .button {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: #FFF;
 border-color: #999;
 color: #2570E0;
 transition: background-color 300ms ease-out; 
}

.dropdown.button::after, button.dropdown::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0 !important;
 top:10px;
 right: 20px;
 text-align: right;
}

.button:hover, button:focus, .button:hover, .button:focus {
 color: #2570E0;
}

.button:hover, button:focus, .button:hover, .button:focus {
 background-color: #FFF; 
}

.f-dropdown-common li a {
 display: block;
 padding: 8px;
 color: #2570E0;
 text-align: left;
}

.f-dropdown-common {
 position: absolute;
 background: #FFFFFF;
 border: solid 1px #2F67B1;
 font-size: 13px;
 margin-top: -2px;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.k-i-arrow-n {
  background-image: url('../../../images/arrow-up.png');
}

.k-i-arrow-s {
  background-image: url('../../../images/arrow-down.png');
  background-position: 0;
}

.icon-ph {
  display: inline-block;
  width: auto;
  height: auto;
  min-width: 16px;
  padding: 4px 5px 0 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  background-color: #FFFFFF;
  position: absolute;
  left: 10px;
  top: 4px;
  bottom: 3px;
  z-index: 3;
}

.custom-text {
  padding-left: 30px !important;
  background-color: #FFFFFF !important;
}

.input-container {
  position: relative;
  background-color: #FFFFFF !important;
  top: -3px;
}

.row {
  max-width: 80%;
}

div.acc-trans-body-container {
  padding-left: 0;
}

.tab-bar .menu-icon {
	text-indent: 2.1875rem;
	width: 2.8125rem;
	height: 2.8125rem;
	display: block;
	padding: 0;
	color: #000 !important;
	position: relative;
	background-color: #FFF;
	transform: translate3d(0, 0, 0); 
}

.account_text {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  display: block;
  line-height: 1;
  font-size: 15px;
  padding-bottom: 5px;
  font-size: 14px;
}

.no-right-margin {
  margin-right: 0;
}

multiselect {
  background-color: #FFF;
}

multiselect .btn {
  width: 100%;
  background-color: #FFF;
}

multiselect .btn.error{
  border: 1px solid #DA4F49 !important;
}

multiselect .dropdown-menu {
  height: auto;
  width: 170px;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 2px;
  position: absolute; 
  background-color: #FFF !important;
  z-index: 100;
}

multiselect .dropdown-menu > li > a {
  cursor: pointer;
  font-size: 13px;
  color: #2570E0;
}

.f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  outline: none;
  width: 100%;
  max-height: none;
  height: auto;
  background: #FFFFFF;
  border: solid 1px #CCCCCC;
  font-size: 0.875rem;
  z-index: 89;
  margin-top: 2px;
  max-width: 200px;
  max-height: 95px;
  overflow: auto;
}

.fi-calendar {
  font-size: 40px;
}

fieldset {
  height: 16px;
}

table thead tr th, table tr td {
  font-size: 10px;
}

table {
  width: 824px;
}

.k-grid-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

.k-hierarchy-cell, .k-hierarchy-col {
  display: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textare {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: #FAFAFA;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border: 1px solid #999;
  border-color: #999;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 13px; font-size: 1.3rem; 
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 33px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear; 
}

.k-grid table tr.k-state-selected td {
 background: #ffe5e5;
 border-top: 1px solid red;
 border-bottom: 1px solid red;
}

.k-grid table tr.k-state-selected td:nth-child(2){
  border-left: 1px solid red;
}

.k-grid table tr.k-state-selected td:last-child {
  border-right: 1px solid red;
}

.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.087em -0.825em 0 -0.42em #000, -0.173em -0.812em 0 -0.44em #000, -0.256em -0.789em 0 -0.46em #000, -0.297em -0.775em 0 -0.477em #000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.338em -0.758em 0 -0.42em #000, -0.555em -0.617em 0 -0.44em #000, -0.671em -0.488em 0 -0.46em #000, -0.749em -0.34em 0 -0.477em #000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.377em -0.74em 0 -0.42em #000, -0.645em -0.522em 0 -0.44em #000, -0.775em -0.297em 0 -0.46em #000, -0.82em -0.09em 0 -0.477em #000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
}

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.087em -0.825em 0 -0.42em #000, -0.173em -0.812em 0 -0.44em #000, -0.256em -0.789em 0 -0.46em #000, -0.297em -0.775em 0 -0.477em #000;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.338em -0.758em 0 -0.42em #000, -0.555em -0.617em 0 -0.44em #000, -0.671em -0.488em 0 -0.46em #000, -0.749em -0.34em 0 -0.477em #000;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #000, -0.377em -0.74em 0 -0.42em #000, -0.645em -0.522em 0 -0.44em #000, -0.775em -0.297em 0 -0.46em #000, -0.82em -0.09em 0 -0.477em #000;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #000, 0 -0.83em 0 -0.42em #000, 0 -0.83em 0 -0.44em #000, 0 -0.83em 0 -0.46em #000, 0 -0.83em 0 -0.477em #000;
  }
}

.fa-pulse {
  color: #000;
  font-size: 68px;
  padding:10px;
  margin-bottom:20px;
  text-align:center;
}

.wobble-fix { 
  -webkit-filter: blur(0); 
}

.alert-text-large-bold {
  font-size:20px;
  text-align:center !important;
  margin-bottom:20px;
  font-weight:900;
}

.alert-text-large {
  font-size:20px;
  text-align:center !important;
  margin-bottom:20px;
}

.alert-text-medium {
  font-size:15px;
  text-align:center !important;
  margin-bottom:20px;
  color:#808080;
}

.timeout-alert-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eff0f3;
  z-index: 9999;
}

.timeout-alert-content {
  padding: 20px;
  background-color: #f8f8f8;
  z-index: 10000;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  -webkit-box-shadow: 0 23px 23px 7px #A6A6A6;
  box-shadow: 0 23px 23px 7px #A6A6A6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border:1px solid #d8d8d8;
}

.connection-lost-text-margin-bottom {
  margin-bottom: 7px;
}

.login-button-width {
  width:80px;
}

@media only screen and (max-width: 40em) {
  hr {
    border-top: 1px solid #E9E9E9;
  }

  .bigger-width-on-phone {
    width: 100%;
  }

  .hide-hr {
    display: none;
  }

  .phone-color {
    background-color: #FFF;
  }

  .row {
    width: auto;
    margin: 0;
    max-width: none;
  }

  .column, .columns {
    background-color: #FFF;
  }

  .time-delay-phone {
    background-color: #FFFFFF;
    width: 100% !important;
    padding: 5px 0px 12px 10px;
    height:30px;
  }

  .accordion .accordion-navigation > a, .accordion dd > a {
    background: #F8F8F8;
    color: #6B9DE8;
    padding: 1rem;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #6B9DE8;
  }

  .footer-wrapper .footer {
    border-top: 1px solid #D1D2D5;
    padding: 25px 25px;
    font-family: "HelveticaNeue-Roman", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    text-align: center;
    padding-left: 15px;
    line-height: 12px;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    background-color: #FFF;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    padding: 0;
  }

  .fa-chevron-right, .fa-chevron-down, fa-chevron-up {
    color: #6B9DE8;
  }

  .phone-table {
    border-radius: 3px;
    border: 1px solid #E9E9E9;
    background-color: #FAFAFA;
    padding: 20px;
    width: 94%;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .block-text {
    display: inline-block;
    padding: 5px;
    padding-left: 14px;
    font-size: 12px;
  }

  .seperator {
    padding-left:0;
    padding-top: 0;
    border: 0;
  }

  .mobilelineseperator {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 8px;
    padding-bottom: 7px;
    background-color: #FFF;
  }

  .portfolio-performance-buttons, .downloadDropdownMargin, .downloadDropdown, .downloadOption {
    width: 100% !important;
  }

  .account_text {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    display: block;
    line-height: 1;
    padding-top: 8px;
    font-size: 14px;
  }

  .top-performers-name {
    padding-top: 6px;
    font-size: 12px;
    padding-right: 15px;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    color: #FFF;
    width: 25%;
  }

  table {
    width:100% !important;
  }

  div.header div.header-top .sign-out-header {
    position: absolute;
    right: 4px;
    top: 8px;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    font-size: 14px; font-size: 1.4rem;
    color: #2570E0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  .row {
    max-width: 98%;
  }

  div.sub-header-wrapper .sub-header .sub-header-options {
    font-size: 16px;
    font-family: "HelveticaNeue-Bold", "robotobold", Arial, sans-serif;
    color: #2570E0;
    width: auto !important;
  }

  div.sub-header-wrapper .sub-header .sub-header-options span {
    cursor: pointer;
    margin-left: 25px;
    text-align: center;
    width:auto !important;
  }

  div.header div.header-top .sign-out-header {
   position: absolute;
   right: -10px;
   top: 8px;
   font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
   font-size: 14px; font-size: 1.4rem;
   color: #2570E0;
 }

 .details-overview-bluetext {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 45px;
  right: 190px;
}

.margintop {
  margin-top:20px;
}

.cashsummarywrap {
  margin-top: 15px;
  padding-left: 0;
  border: none;
}

.header-icons {
  right: 45px;
  font-size: 26px; font-size: 2.6rem;
  position: absolute;
  padding-right: 15px;
  color : #0000FF;
  top: 8px !important;
}
}