@import 'constants';
@import 'colors';

  html {
    font-size: $html-percentage;
  }

  body {
    font-size: $font-size-px; font-size: $font-size-rem;
  }

  .tab-bar {
    height: 45px;
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 100000;
    width: 100%;
  }

  .footer-wrapper {
    background: $grey-page-background;
  }

  div.sub-header-wrapper {
    background:$grey-page-background;
  }

  .body-wrapper {
    background: $grey-page-background;
    /*padding-top: 57px; */
    padding-top: 115px;
  }

  .header-icons {
    right: 45px;
    font-size: 26px; font-size: 2.6rem;
    position: absolute;
    color : $links-blue;
    top: 8px !important;
  }

  div.header div.header-top .sign-out-header {
    position: absolute;
    right: -25px;
    top: 8px;
    font-family: $font-family;
    font-size: $font-size-px; font-size: $font-size-rem;
    color: $links-blue;
  }

  .dropdown.button::after, button.dropdown::after {
    font-family: 'FontAwesome';
    content: "\f078";
    border: none;
    margin-top: 0 !important;
    top: 10px;
    text-align: right;
  }

  .dropdown.button.small::after, button.dropdown.small::after {
    border-width: 0.4375rem;
    right: 20px !important;
    margin-top: -0.15625rem;
  }

  .dropdown.button.small, button.dropdown.small {
    padding-right: 5rem;
  }

  .empty-box-container {
    height: auto;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
    font-family: $font-family;
  }

  .acc-empty-boxes {
    height: 45px;
    background: $account-summary-display;
    float: left;
    width:110%;
    overflow: hidden;
    color: $links-blue;
    font-size:12px; font-size:1.2rem;
    padding-left: 10px;
    margin-right: 0;
    padding-top: 10px;
    border-top: 1px solid lighten ($light-grey, 10%);
    border-left: 1px solid lighten ($light-grey, 10%);
    border-bottom: 1px solid lighten ($light-grey, 10%);
    border-right: 0 solid lighten ($light-grey, 10%);
    margin-bottom: 4px;
    font-family: $font-family;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  .selected {
    background-color: $background-white;
    border-left: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
    width: 102%;
    color: $dark-grey;
    position: relative;
    z-index: 1000 !important;
    overflow: hidden;
  }

  .noLeftPadding {
   padding-left: 0 !important;
 }

 .search-textbox {
  padding-right: 7px;
}

.enabled {
  background-color: $links-blue;
  color: $background-white;
}

.disabled {
  background-color: $silver-grey;
  color: $links-blue;
}

.seperator {
  border-left: 1px solid $silver-grey;
  padding-left: 10px;
}

.text-red {
  color : $debit-text-red !important;
}

.text-green {
  color: $credit-text-green !important;
}

.text-blue {
  color : $links-blue !important;
}

.text-grey {
  color : $light-grey;
}

.bold-text {
  font-weight: 900;
}

.disclaimer-text {
  color: $medium-grey;
  font-size: 11px;
}

.no-padding-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

no-padding-top {
  padding-top: 0;
  margin-top: 0;
}

.top-performers-headings {
  font-size: 18px;
  color: $medium-grey;
  line-height: 48px;
  padding-bottom: 10px;
}

.top-performers-name {
  padding-top: 6px;
  font-size: 12px;
  font-family: $font-family;
  color: $background-white;
}

.header-icons-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.block-text {
  display: block;
}

.loading-pages {
  color: $dark-grey;
  font-family: $arial-font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 42px;
  width: 100%;
  height: 100%;
}

.session-timed-out-buttons {
  font-size: 12px;
  color: $links-blue;
  font-family: $font-family;
  display: inline-block;
  border: 1px solid $links-blue;
  padding: 3px 10px 3px 10px;
}

.session-timed-out-option-box {
  border: 1px solid $links-blue;
}

.underline-text {
  text-decoration: underline;
  color:$links-blue;
}

.underline-text:hover {
  text-decoration: underline;
  color: $links-blue;
}

.fa-chevron-right, .fa-chevron-down, fa-chevron-up {
  color: $medium-grey;
}

.left-small .left-off-canvas-toggle {
  height: 45px;
  width: 45px;
}

.left-small {
  border-right: none;
}

.tab-bar .header-wrapper .header .fluid-grid {
  height: 45px;
}

.header .header-top {
  padding-top: 0 !important;
}

.header-logo-icon {
  margin: 5px 0;
}

.rounded-dropdown-corners {
  border-radius: 3px;
}

.list-separator:not(:last-child) {
  border-bottom: 1px solid $silver-grey;
}

li.list-separator:hover {
  border-left: 2px solid $links-blue;
}

li.list-separator {
  border-left: 2px solid $background-white;
}

.f-dropdown li a:hover {
  color: $links-blue;
  background-color: $background-white;
}

.phone-row {
  background-color: $background-white !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $medium-grey;
  margin: 1em 0;
  padding: 0;
}

.hide-hr {
  border-top: 1px dotted $medium-grey;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;

}

td:first-child {
  padding-right: 0;
}

button, .button {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: $font-family;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: $background-white;
 border-color: $standard-bank-blue;
 color: $links-blue;
 transition: background-color 300ms ease-out;
}

button, .button.small {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: $font-family;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: $background-white;
 border-color: $light-grey;
 color: $links-blue;
 transition: background-color 300ms ease-out;
}

.dropdown.button::after, button.dropdown::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0;
 top: 0px;
 right: 20px;
 text-align: right;
}

.dropdown.small::after, button.small::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0;
 top: 0;
 right: 20px;
 text-align: right;
}

dropdown.button, button.dropdown {
  position: relative;
  outline: none;
  padding-right: 5.4rem !important;
}

.button:hover, button:focus, .button:hover, .button:focus {
 color: $links-blue;
}

.button:hover, button:focus, .button:hover, .button:focus {
 background-color: $background-white;
}

.f-dropdown li a {
  display: block;
  padding: 1rem;
  color: $dark-grey;
  font-size: 13px;
}

.f-dropdown-common li a {
 display: block;
 padding: 8px;
 color: $links-blue;
 text-align: left;
 width: 100%;
}

.f-dropdown-common {
 position: absolute;
 left: -9999px;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: $background-white;
 border: solid 1px $standard-bank-blue;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.f-dropdown-small {
 position: absolute;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: $background-white;
 border: solid 1px $light-grey;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 display: block;
 top: 33px;
 left: auto !important;
 width: 91px;
}

.f-dropdown-small li a {
 display: block;
 padding: 8px 8px 8px 12px;
 color: $links-blue;
 text-align: left;
 width: 100%;
}

.f-dropdown-medium {
 position: absolute;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: $background-white;
 border: solid 1px $light-grey;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 display: block;
 top: 33px;
 left: auto !important;
 width: 133px;
}

.f-dropdown-medium li a {
 display: block;
 padding: 8px;
 color: $links-blue;
 text-align: left;
 width: 100%;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;

}

td:first-child {
  padding-right: 0;
}

button, .button {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: $font-family;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: $background-white;
 border-color: $light-grey;
 color: $links-blue;
 transition: background-color 300ms ease-out;
}

.dropdown.button::after, button.dropdown::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0 !important;
 top:10px;
 right: 20px;
 text-align: right;
}

.button:hover, button:focus, .button:hover, .button:focus {
 color: $links-blue;
}

.button:hover, button:focus, .button:hover, .button:focus {
 background-color: $background-white;
}

.f-dropdown-common li a {
 display: block;
 padding: 8px;
 color: $links-blue;
 text-align: left;
}

.f-dropdown-common {
 position: absolute;
 background: $background-white;
 border: solid 1px $standard-bank-blue;
 font-size: 13px;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.anchor-links {
  color : $links-blue !important;
}

.anchor-links:hover {
  color : $links-blue !important;
}

.icon-ph {
  display: inline-block;
  width: auto;
  height: auto;
  min-width: 16px;
  padding: 4px 5px 0 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 $background-white;
  background-color: $background-white;
  position: absolute;
  left: 10px;
  top: 4px;
  bottom: 3px;
  z-index: 3;
}

.custom-text {
  padding-left: 30px !important;
  background-color: $background-white !important;
}

.input-container {
  position: relative;
  background-color: $background-white !important;
  top: -3px;
}

.row {
  max-width: 80%;
}

div.acc-trans-body-container {
  padding-left: 0;
}

.tab-bar .menu-icon {
  text-indent: 2.1875rem;
  width: 3.9rem;
  height: 4.9rem;
  display: block;
  padding: 0;
  color: $dark-grey !important;
  position: relative;
  background-color: $dark-grey;
  transform: translate3d(0, 0, 0);
}

.account_text {
  color: $dark-grey;
  font-family: $font-family;
  display: block;
  line-height: 1;
  font-size: 15px;
  padding-bottom: 5px;
  font-size: $font-size-px;
}

.no-right-margin {
  margin-right: 0;
}

multiselect {
  background-color: $background-white;
}

multiselect .btn {
  width: 100%;
  background-color: $background-white;
}

multiselect .btn.error{
  border: 1px solid $debit-text-red !important;
}

multiselect .dropdown-menu {
  height: auto;
  width: 170px;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  background-color: $background-white !important;
  z-index: 100;
}

multiselect .dropdown-menu > li > a {
  cursor: pointer;
  font-size: 13px;
  color: $links-blue;
}

.f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  outline: none;
  width: 100%;
  max-height: none;
  height: auto;
  background: $background-white;
  border: solid 1px $silver-grey;
  font-size: 0.875rem;
  z-index: 89;
  margin-top: 2px;
  max-width: 200px;
  max-height: 161px;
  overflow: auto;
}

.fi-calendar {
  font-size: 40px;
}

fieldset {
  height: 16px;
}

table thead tr th, table tr td {
  font-size: 10px;
}

table {
  width: 824px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textare {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: $pale-grey;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border: 1px solid $light-grey;
  border-color: $light-grey;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 13px; font-size: 1.3rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 33px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
}

.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.087em -0.825em 0 -0.42em $dark-grey, -0.173em -0.812em 0 -0.44em $dark-grey, -0.256em -0.789em 0 -0.46em $dark-grey, -0.297em -0.775em 0 -0.477em $dark-grey;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.338em -0.758em 0 -0.42em $dark-grey, -0.555em -0.617em 0 -0.44em $dark-grey, -0.671em -0.488em 0 -0.46em $dark-grey, -0.749em -0.34em 0 -0.477em $dark-grey;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.377em -0.74em 0 -0.42em $dark-grey, -0.645em -0.522em 0 -0.44em $dark-grey, -0.775em -0.297em 0 -0.46em $dark-grey, -0.82em -0.09em 0 -0.477em $dark-grey;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
}

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.087em -0.825em 0 -0.42em $dark-grey, -0.173em -0.812em 0 -0.44em $dark-grey, -0.256em -0.789em 0 -0.46em $dark-grey, -0.297em -0.775em 0 -0.477em $dark-grey;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.338em -0.758em 0 -0.42em $dark-grey, -0.555em -0.617em 0 -0.44em $dark-grey, -0.671em -0.488em 0 -0.46em $dark-grey, -0.749em -0.34em 0 -0.477em $dark-grey;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.377em -0.74em 0 -0.42em $dark-grey, -0.645em -0.522em 0 -0.44em $dark-grey, -0.775em -0.297em 0 -0.46em $dark-grey, -0.82em -0.09em 0 -0.477em $dark-grey;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
}

.fa-pulse {
  color: $dark-grey;
  font-size: 68px;
  padding:10px;
  margin-bottom:20px;
  text-align:center;
}

.wobble-fix {
  -webkit-filter: blur(0);
}

.alert-text-large-bold {
  font-size:20px;
  text-align:center !important;
  margin-bottom:20px;
  font-weight:900;
}

.alert-text-large {
  font-size:20px;
  text-align:center !important;
  margin-bottom:20px;
}

.alert-text-medium {
  font-size: 15px;
  text-align: center !important;
  margin-bottom: 20px;
  color: $medium-grey;
}

.timeout-alert-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $pale-grey;
  z-index: 9999;
}

.timeout-alert-content {
  padding: 20px;
  background-color: $pale-grey;
  z-index: 10000;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  -webkit-box-shadow: 0 23px 23px 7px $light-grey;
  box-shadow: 0 23px 23px 7px $light-grey;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border:1px solid $silver-grey;
}

.connection-lost-text-margin-bottom {
  margin-bottom: 7px;
}

.k-grid th.k-header, .k-grid-header  .k-header>.k-link {
  background: $pale-grey;
  color: $dark-grey;
  overflow: visible;
  white-space: normal;
  border-color: $silver-grey;
}

.k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, .k-grid-header, .k-pager-wrap, .k-pager-wrap .k-textbox, .k-pager-wrap .k-link, .k-grouping-header .k-group-indicator, .k-gantt-toolbar .k-state-default {
  border-color: $silver-grey !important;
}

.k-grid-content>table>tbody>tr {
 background: $background-white;
 color: $dark-grey;
}

.k-grid table tr.k-master-row:not(.k-state-selected) td:nth-child(2){
  padding-left: 10px;
}

.k-grid table tr.k-master-row:not(.k-state-selected) td {
  border-bottom: solid 1px $silver-grey;
}

.k-grid table tr.k-master-row:not(.k-state-selected):last-child td {
  border-bottom: none;
}

.k-grid table tr.k-state-selected td {
  background: $pale-grey;
  color: $dark-grey;
}

.k-grid table tr.k-state-selected td:last-child {
  border-right:solid 1px $silver-grey !important;
}

.k-grid table tr.k-state-selected td:nth-child(2) {
  border-left: solid 4px $links-blue;
}

.k-grid td {
 border: none;
}

.k-hierarchy-cell, .k-hierarchy-col {
  display: none;
}

.k-footer-template {
  background: $grey-page-background;
}

.k-grid-footer {
  border: 1px solid rgb(205, 205, 205);
}

.k-grid-footer-wrap {
  border: none;
}

.k-detail-cell {
  border: 0px !important;
  border-collapse: collapse !important;
  margin: 0px !important;
  padding: 0px !important;
}

.k-widget, .k-block, .k-inline-block, .k-draghandle {
  border-top: solid 1px $silver-grey !important;
  border-left: solid 1px $silver-grey !important;
  border-right: solid 1px $silver-grey !important;
  border-bottom: none !important;
}

.highcharts-legend {
  display: none;
}

.error-message {
  color: red;
  text-align:center;
  font-size:12px;
}

.error {
 background: $pink;
}

.error-icon {
  display: none;
}

td.error .error-icon {
  display: inline-block;
  padding-left: 5px;
}

tr.k-master-row td.error:nth-child(2) {
  border-left: 4px solid red !important;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background: rgb(239, 240, 243) !important;
}

.tab-heading-bottom-border {
  padding-bottom: 4px;
  border-bottom: 4px solid $links-blue;
}

.tab-triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $links-blue;
  margin-left: 33px;
  margin-top: 7px;
}

.underlying-triangle-down-position {
  margin-left: 64px !important;
}

.tab-bar {
  height: 45px;
  position:fixed;
  top:0px;
  margin:auto;
  z-index:100000;
  width:100%;
}

.inline-list {
  padding-left: 5px !important;
  margin-bottom: 8px;
}

.hr-padding {
  padding-left: 6.6px;
  padding-right: 6.6px;
}

.tabs-content {
  margin-bottom: 0;
}

.tabs-content > .content.active {
  padding-bottom: 5px;
  padding-top: 9px;
}

.footer-padding {
  padding-top: 25px;
}



.login-button-width {
  width:80px;
}

.login-button {
  padding-top: 15px;
}

.login-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $pale-grey;
  z-index: 9999;
}

.login-content {
  padding: 20px;
  background-color: white;
  z-index: 10000;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  -webkit-box-shadow: 0 23px 23px 7px $light-grey;
  box-shadow: 0 23px 23px 7px $light-grey;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: $font-family;
}

.login-outer {
  position:relative;
  width: 100% !important;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $background-white;
}

.login-blue-text {
  font-size:11px;
  color:$links-blue;
  text-decoration:none;
  font-family: $font-family;
}

.login-black-text {
  font-size:11px;
  text-decoration:none;
  font-family: $font-family;
}

.login-header {
  font-size:2rem; font-size:20px;
}

.login-input {
  padding:8px;
  border:1px solid $pale-grey;
  border-radius:3px;
  border-style: solid;
  width:300px;
}

.login-content {
  padding: 30px;
  background-color: $pale-grey;
  z-index: 10000;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border:1px solid $pale-grey;
  max-width: 400px;
  -webkit-box-shadow: 0 2px 36px 0px $light-grey;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: $font-family;
}

@media only screen and (max-width: 40em) {
  hr {
    border-top: 1px solid $pale-grey;
  }

  .bigger-width-on-phone {
    width: 100%;
  }

  .hide-hr {
    display: none;
  }

  .phone-color {
    background-color: $background-white;
  }

  .row {
    width: auto;
    margin: 0;
    max-width: none;
  }

  .column, .columns {
    background-color: $background-white;
  }

  .time-delay-phone {
    background-color: $background-white;
    width: 100% !important;
    padding: 5px 0px 12px 10px;
    height:30px;
  }

  .accordion .accordion-navigation > a, .accordion dd > a {
    background: $pale-grey;
    color: $links-blue;
    padding: 1rem;
    display: block;
    font-family: $font-family;
    font-size: 1rem;
    border-bottom: 1px solid $links-blue;
  }

  .footer-wrapper .footer {
    border-top: 1px solid $pale-grey;
    padding: 25px 25px;
    font-family: $font-family;
    text-align: center;
    padding-left: 15px;
    line-height: 12px;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    background-color: $background-white;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    padding: 0;
  }

  .fa-chevron-right, .fa-chevron-down, fa-chevron-up {
    color: $links-blue;
  }

  .phone-table {
    border-radius: 3px;
    border: 1px solid $pale-grey;
    background-color: $pale-grey;
    padding: 20px;
    width: 94%;
    font-family: $font-family;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .block-text {
    display: inline-block;
    padding: 5px;
    padding-left: 14px;
    font-size: 12px;
  }

  .seperator {
    padding-left:0;
    padding-top: 0;
    border: 0;
  }

  .mobilelineseperator {
    border-bottom: 1px solid $pale-grey;
    margin-bottom: 8px;
    padding-bottom: 7px;
    background-color: $background-white;
  }

  .portfolio-performance-buttons, .downloadDropdownMargin, .downloadDropdown, .downloadOption {
    width: 100% !important;
  }

  .account_text {
    color: $dark-grey;
    font-family: $font-family;
    display: block;
    line-height: 1;
    padding-top: 8px;
    font-size: $font-size-px;
  }

  .top-performers-name {
    padding-top: 6px;
    font-size: 12px;
    padding-right: 15px;
    font-family: $font-family;
    color: $background-white;
    width: 25%;
  }

  table {
    width:100% !important;
  }

  div.header div.header-top .sign-out-header {
    position: absolute;
    right: 4px;
    top: 8px;
    font-family: $font-family;
    font-size: $font-size-px; font-size: $font-size-rem;
    color: $links-blue;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .row {
    max-width: 98%;
  }

  div.sub-header-wrapper .sub-header .sub-header-options {
    font-size: 16px;
    font-family: $font-family;
    color: $links-blue;
    width: auto !important;
  }

  div.sub-header-wrapper .sub-header .sub-header-options span {
    cursor: pointer;
    margin-left: 25px;
    text-align: center;
    width:auto !important;
  }

  div.header div.header-top .sign-out-header {
   position: absolute;
   right: -10px;
   top: 8px;
   font-family: $font-family;
   font-size: $font-size-px; font-size: $font-size-rem;
   color: $links-blue;
 }

 .details-overview-bluetext {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: $font-family;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 45px;
  right: 190px;
}

.margintop {
  margin-top:20px;
}

.cashsummarywrap {
  margin-top: 15px;
  padding-left: 0;
  border: none;
}

.header-icons {
  right: 45px;
  font-size: 26px; font-size: 2.6rem;
  position: absolute;
  padding-right: 15px;
  color : $links-blue;
  top: 8px !important;
}
}
