@import 'constants';
@import 'colors';
@import 'custom-colors';

a:hover {
  cursor: pointer; 
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem; 
}

.row:before, .row:after {
  content: " ";
  display: table; 
}

.row:after {
  clear: both; 
}

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0; 
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0; 
}

.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; 
}

.row .row:before, .row .row:after {
  content: " ";
  display: table; 
}

.row .row:after {
  clear: both; 
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none; 
}

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; 
}

.row .row.collapse:after {
  clear: both; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

input[type='text'] {
  border: none; 
}

input[type='text']:focus {
  outline: none; 
}

table, tbody, tfoot, thead, tr, th, td {
  vertical-align: middle; 
}

.fluid-grid {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  background: $background-white; 
}

.grid-container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box; 
}

button:focus {
  outline: none; 
}

.fa {
  font-size: 14px; 
}

.pointer {
  cursor: pointer; 
}

.column, .columns {
  padding: 0; 
}

.row {
  max-width: 960px; 
}

.table {
  display: table;
  vertical-align: middle; 
}

.text-right {
  text-align: right !important; 
}

.text-left {
  text-align: left !important; 
}

.text-center {
  text-align: center !important; 
}

.table-row {
  display: table-row; 
}

.table-cell {
  display: table-cell; 
}

.inline-block {
  display: inline-block; 
}

.left {
  float: left !important; 
}

.right {
  float: right !important; 
}

.clearfix {
  clear: both; 
}

.display-none {
  display: none !important; 
}

.display-block {
  display: block !important; 
}

.display-inline-block {
  display: inline-block !important; 
}

.relative {
  position: relative; 
}

.absolute {
  position: absolute; 
}

body {
  line-height: 1; 
}

a {
  text-decoration: none;
  color: inherit; 
}

input {
  background: transparent; 
}

.row .row {
  margin: 0; 
}

.blur {
  -webkit-filter: blur(30px) !important;
  -moz-filter: blur(30px) !important;
  -o-filter: blur(30px) !important;
  -ms-filter: blur(30px) !important;
  filter: blur(30px);
  -ms-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  filter: url(../assets/svg/blur.svg#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='30');
  background: $main-background-grey !important;
  pointer-events: none; 
}

.footer-wrapper {
  background: $main-background-grey;
  width: 100%; 
}

.footer-wrapper .footer {
  border-top: 1px solid #d1d2d5;
  padding: 25px 0;
  font-family: "HelveticaNeue-Roman", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  text-align: center;
  padding-left: 15px;
  line-height: 12px; 
}

.footer-wrapper .footer p {
  font-size: 10px;
  color: #7d7d71; 
}

.footer-wrapper .footer .footer-last-login {
  font-size: 12px;
  color: $dark-grey;
  margin-bottom: 5px; 
}

.footer-wrapper .footer .footer-logo {
  width: 25px;
  height: 30px;
  margin-top: 10px; 
}

div.header {
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  padding-top: 4px;
  background-image: #26428b;
  /* Old browsers */
  background-image: -moz-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #26428b), color-stop(25%, #255dbc), color-stop(50%, #2570e0), color-stop(75%, #255dbc), color-stop(100%, #26428b));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  /* IE10+ */
  background-image: linear-gradient(to right, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26428b', endColorstr='#26428b',GradientType=1 );
  /* IE6-9 */ 
}

div.header div {
  vertical-align: middle; 
}

div.header div.header-top {
  width: 100%;
  height: 55px;
  padding-top: 10px;
}

div.header div.header-top div.header-top-left-content {
  width: 49%; 
}

div.header div.header-top div.header-top-left-content .menu-wrapper {
  padding-top: 8px;
  float: left;
}

div.header div.header-top div.header-top-left-content .header-menu-icon {
  vertical-align: middle;
  cursor: pointer;
}

div.header div.header-top div.header-top-left-content .header-menu-icon i {
  font-size: 22px;
  color: $links-blue; 
}

div.header div.header-top div.header-top-left-content .header-menu-text {
  font-size: 14px;
  color: $dark-grey;
  margin-left: 3px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif; 
}

div.header div.header-top div.header-logo {
  cursor: pointer;
  vertical-align: top;
  width: 51%;
  text-align: right;
}

div.header div.header-top div.header-logo img {
  height: 35px;
  width: 30px; 
}

div.header div.header-top .header-bank-logo {
  vertical-align: top;
  text-align: center;
  width: 100%;
  position: relative; 
}

div.header div.header-top .header-bank-logo img {
  height: 35px;
  cursor: pointer;
  width: 30px;
}

div.header div.header-top .sign-out-header {
  position: absolute;
  right: 0;
  top: 10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  font-size: 14px;
  color: $links-blue; 
}

div.header div.header-top div.header-top-right-content {
  text-align: right;
  padding-top: 5px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif; 
}

div.header div.header-top div.header-top-right-content .customer-name {
  font-size: 14px;
  color: $dark-grey; 
}

div.header div.header-top div.header-top-right-content .header-envelope {
  margin-left: 25px;
  margin-right: 28px;
  position: relative;
  bottom: -1px;
  cursor: pointer; 
}

div.header div.header-top div.header-top-right-content .header-envelope i {
  color: $links-blue;
  font-size: 20px; 
}

div.header div.header-top div.header-top-right-content .header-envelope span {
  position: absolute;
  top: -5px;
  right: 0px;
  height: 13px;
  width: 13px;
  padding: 0 3px;
  border-radius: 8px;
  background: #ea6600;
  color: $background-white;
  font-size: 13px; 
}

div.header div.header-top div.header-top-right-content .fa-phone {
  color: $links-blue;
  font-size: 24px;
  margin-right: 30px;
  vertical-align: middle;
}

div.header div.header-top div.header-top-right-content .sign-out-text {
  font-size: 14px;
  color: $links-blue; 
}

div.sub-header-wrapper {
  width: 100%;
  background: $main-background-grey;
}

div.sub-header-wrapper .sub-header {
  height: 100%;
  padding: 15px 0px 0 0px;
  line-height: 1;
  height: 44px;
  border-bottom: 1px solid #a3a3a5; 
}

div.sub-header-wrapper .sub-header .sub-header-title {
  font-size: 16px;
  color: $dark-grey;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif; 
}

div.sub-header-wrapper .sub-header .sub-header-options {
  font-size: 16px;
  font-family: "HelveticaNeue-Bold", "robotobold", Arial, sans-serif;
  color: $links-blue; 
}

div.sub-header-wrapper .sub-header .sub-header-options span {
  cursor: pointer;
  margin-left: 38px;
  width: auto; 
}

div.sub-header-wrapper .sub-header .sub-header-options .sub-header-options-margin {
  margin-left: 35px; 
}

.account-wrapper {
  background: $main-background-grey; 
}

.accounts-details-wrapper {
  margin-bottom: 20px !important; 
}

div.acc-header-border {
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 4px;
  background-image: #26428b;
  background-image: -moz-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #26428b), color-stop(25%, #255dbc), color-stop(50%, #2570e0), color-stop(75%, #255dbc), color-stop(100%, #26428b));
  background-image: -webkit-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  background-image: -o-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  background-image: -ms-linear-gradient(left, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  background-image: linear-gradient(to right, #26428b 0%, #255dbc 25%, #2570e0 50%, #255dbc 75%, #26428b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26428b', endColorstr='#26428b',GradientType=1 ); 
}

.details-overlay {
  border: 1px solid #a3a3a5;
  border-radius: 3px;
  padding: 18px 20px;
  margin-top: 8px;
  background: #e2e4e9;
  position: relative;
  height: 120px; 
}

.details-overlay .details-overlay-lable {
  font-size: 12px;
  color: $medium-grey;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block; 
}

.details-overlay .fa-pencil-square-o {
  color: $links-blue;
  cursor: pointer;
  margin-left: 3px; 
}

.details-overlay .details-overlay-value {
  font-size: 14px;
  color: $dark-grey;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  margin-top: 5px; 
}

.details-overlay .details-overlay-value .input-type-textbox {
  color: $dark-grey;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem;
  outline: none;
  border: none;
  z-index: 10;
  background: transparent;
  width: 87%;
  position: relative;
  padding: 0 0 4px 2px;
  display: block;
  font-size: 14px;
  outline: none;
  border: none;
  padding-left: 0; 
}

.details-overlay .details-overlay-value .input-type-textbox:focus {
  border: 1px solid #26428b;
  box-shadow: 0 5px 6px -7px #26428b;
  border-top: 0;
  width: 90%;
  margin-left: -5px;
  padding-left: 5px; 
}

.details-overlay .details-overlay-value .input-type-textbox:blur {
  border: 1px solid $links-blue; 
}

.details-overlay .details-overlay-value .form-elem-half-border {
  width: 90%;
  margin-left: -5px; 
}

.details-overlay .details-overlay-info-block-top {
  margin-bottom: 10px; 
}

.details-overlay .details-overlay-gutter {
  padding-left: 10px; 
}

.details-overlay .arrow_box {
  position: absolute;
  right: 140px;
  top: -1px;
  background: #e2e4e9;
  border: 1px solid #a3a3a5;
  border-bottom: 0; 
}

.details-overlay .arrow_box:after, .details-overlay .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; 
}

.details-overlay .arrow_box:after {
  border-color: rgba(0, 46, 78, 0);
  border-bottom-color: #e2e4e9;
  border-width: 5px;
  margin-left: -5px;
}

.details-overlay .arrow_box:before {
  border-color: rgba(163, 163, 165, 0);
  border-bottom-color: #a3a3a5;
  border-width: 6px;
  margin-left: -6px;
}

.details-overlay .Service-arrow {
  right: 28px; 
}

.details-overlay .details-overlay-share {
  margin-top: 53px;
  font-size: 14px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  cursor: pointer; 
}

.details-overlay .details-overlay-share div {
  margin-left: 8px;
}

.details-overlay .details-overlay-close, .details-overlay .details-overlay-share {
  color: $links-blue; 
}

.details-overlay ul.service-overlay-list {
  font-size: 14px;
  color: $links-blue;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif; 
}

.details-overlay ul.service-overlay-list li {
  margin-bottom: 20px;
  cursor: pointer; 
}

.details-overlay ul.service-overlay-list .service-overlay-list-last {
  margin-bottom: 0;
}

.acc-empty-boxes {
  height: 130px;
  width: 100%;
  background: white;
  border: 1px solid #c8c9cc;
  float: left;
  margin-bottom: 20px; 
}

div.acc-trans-body-container {
  padding-left: 10px; 
}

.body-wrapper {
  background: $main-background-grey;
  padding-top: 20px; 
}

table, tbody, tfoot, thead, tr, th, td {
  vertical-align: middle; 
}

.selected {
  background-color: #f2f2f2; 
}

html {
  font-size: $html-percentage;
}

body {
  font-size: $font-size-px; font-size: $font-size-rem;
}

.tab-bar {
  height: 45px;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 100000;
  width: 100%;
}

.footer-wrapper {
  background: $main-background-grey;
}

div.sub-header-wrapper {
  background:$main-background-grey;
}

.body-wrapper {
  background: $main-background-grey;
  /*padding-top: 57px; */
  padding-top: 115px;
}

.header-icons {
  right: 45px;
  font-size: 26px; font-size: 2.6rem;
  position: absolute;
  color : $links-blue;
  top: 8px !important;
}

div.header div.header-top .sign-out-header {
  position: absolute;
  right: -25px;
  top: 8px;
  font-family: $font-family;
  font-size: $font-size-px; font-size: $font-size-rem;
  color: $links-blue;
}

.dropdown.button::after, button.dropdown::after {
  font-family: 'FontAwesome';
  content: "\f078";
  border: none;
  margin-top: 0 !important;
  top: 10px;
  text-align: right;
}

.dropdown.button.small::after, button.dropdown.small::after {
  border-width: 0.4375rem;
  right: 20px !important;
  margin-top: -0.15625rem;
}

.dropdown.button.small, button.dropdown.small {
  padding-right: 5rem;
}

.empty-box-container {
  height: auto;
}

a {
  color: $dark-grey;
  text-decoration: none;
  font-family: $font-family;
}

.acc-empty-boxes {
  height: 45px;
  background: $account-cash-summary-background-grey;
  float: left;
  width:110%;
  overflow: hidden;
  color: $links-blue;
  font-size:12px; font-size:1.2rem;
  padding-left: 10px;
  margin-right: 0;
  padding-top: 10px;
  border-top: 1px solid lighten ($light-grey, 10%);
  border-left: 1px solid lighten ($light-grey, 10%);
  border-bottom: 1px solid lighten ($light-grey, 10%);
  border-right: 0 solid lighten ($light-grey, 10%);
  margin-bottom: 4px;
  font-family: $font-family;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.selected {
  background-color: $background-white;
  border-left: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
  border-right: none;
  width: 101%;
  color: $dark-grey;
  position: relative;
  z-index: 1000 !important;
  overflow: hidden;
}

.noLeftPadding {
 padding-left: 0 !important;
}

.search-textbox {
  padding-right: 7px;
}

.enabled {
  background-color: $links-blue;
  color: $background-white;
}

.disabled {
  background-color: $silver-grey;
  color: $links-blue;
}

.seperator {
  border-left: 1px solid $silver-grey;
  padding-left: 10px;
}

.text-red {
  color : $debit-text-red !important;
}

.text-green {
  color: $credit-text-green !important;
}

.text-blue {
  color : $links-blue !important;
}

.text-grey {
  color : $light-grey;
}

.bold-text {
  font-weight: 900;
}

.disclaimer-text {
  color: $medium-grey;
  font-size: 11px;
}

.text-dark-grey {
  color: $dark-grey;
}

.no-padding-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

no-padding-top {
  padding-top: 0;
  margin-top: 0;
}

.top-performers-headings {
  font-size: 18px;
  color: $medium-grey;
  line-height: 48px;
  padding-bottom: 10px;
}

.top-performers-name {
  padding-top: 6px;
  font-size: 12px;
  font-family: $font-family;
  color: $background-white;
}

.header-icons-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.block-text {
  display: block;
}

.loading-pages {
  color: $dark-grey;
  font-family: $arial-font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  line-height: 42px;
  width: 100%;
  height: 100%;
}

.session-timed-out-buttons {
  font-size: 12px;
  color: $links-blue;
  font-family: $font-family;
  display: inline-block;
  border: 1px solid $links-blue;
  padding: 3px 10px 3px 10px;
}

.session-timed-out-option-box {
  border: 1px solid $links-blue;
}

.underline-text {
  text-decoration: underline;
  color:$links-blue;
}

.underline-text:hover {
  text-decoration: underline;
  color: $links-blue;
}

.fa-chevron-right, .fa-chevron-down, fa-chevron-up {
  color: $medium-grey;
}

.left-small .left-off-canvas-toggle {
  height: 45px;
  width: 45px;
}

.left-small {
  border-right: none;
}

.tab-bar .header-wrapper .header .fluid-grid {
  height: 45px;
}

.header .header-top {
  padding-top: 0 !important;
}

.header-logo-icon {
  margin: 5px 0;
}

.rounded-dropdown-corners {
  border-radius: 3px;
}

.list-separator:not(:last-child) {
  border-bottom: 1px solid $silver-grey;
}

li.list-separator:hover {
  border-left: 2px solid $links-blue;
}

li.list-separator {
  border-left: 2px solid $background-white;
}

.f-dropdown li a:hover {
  color: $links-blue;
  background-color: $background-white;
}

.phone-row {
  background-color: $background-white !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $medium-grey;
  margin: 1em 0;
  padding: 0;
}

.hide-hr {
  border-top: 1px dotted $medium-grey;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
}

td:first-child {
  padding-right: 0;
}

button, .button {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: $font-family;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: $background-white;
 border-color: $standard-bank-blue;
 color: $links-blue;
 transition: background-color 300ms ease-out;
}

button, .button.small {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: $font-family;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: $background-white;
 border-color: $light-grey;
 color: $links-blue;
 transition: background-color 300ms ease-out;
}

.dropdown.button::after, button.dropdown::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0;
 top: 0px;
 right: 20px;
 text-align: right;
}

.dropdown.small::after, button.small::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0;
 top: 0;
 right: 20px;
 text-align: right;
}

dropdown.button, button.dropdown {
  position: relative;
  outline: none;
  padding-right: 5.4rem !important;
}

.button:hover, button:focus, .button:hover, .button:focus {
 color: $links-blue;
}

.button:hover, button:focus, .button:hover, .button:focus {
 background-color: $background-white;
}

.f-dropdown li a {
  display: block;
  padding: 1rem;
  color: $dark-grey;
  font-size: 13px;
}

.f-dropdown-common li a {
 display: block;
 padding: 8px;
 color: $links-blue;
 text-align: left;
 width: 100%;
}

.f-dropdown-common {
 position: absolute;
 left: -9999px;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: $background-white;
 border: solid 1px $standard-bank-blue;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.f-dropdown-small {
 position: absolute;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: $background-white;
 border: solid 1px $light-grey;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 display: block;
 top: 33px;
 left: auto !important;
 width: 91px;
}

.f-dropdown-small li a {
 display: block;
 padding: 8px 8px 8px 12px;
 color: $links-blue;
 text-align: left;
 width: 100%;
}

.f-dropdown-medium {
 position: absolute;
 list-style: none;
 margin-left: 0;
 outline: none;
 max-height: none;
 height: auto;
 background: $background-white;
 border: solid 1px $light-grey;
 font-size: 13px;
 z-index: 89;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
 display: block;
 top: 33px;
 left: auto !important;
 width: 133px;
}

.f-dropdown-medium li a {
 display: block;
 padding: 8px;
 color: $links-blue;
 text-align: left;
 width: 100%;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;

}

td:first-child {
  padding-right: 0;
}

button, .button {
 border-style: solid;
 border-width: 1px;
 cursor: pointer;
 font-family: $font-family;
 font-weight: normal;
 line-height: normal;
 position: relative;
 text-decoration: none;
 text-align: center;
 -moz-appearance: none;
 border-radius: 3px;
 padding: 8px;
 display: inline-block;
 font-size: 13px;
 background-color: $background-white;
 border-color: $light-grey;
 color: $links-blue;
 transition: background-color 300ms ease-out;
}

.dropdown.button::after, button.dropdown::after {
 font-family: 'FontAwesome';
 content: "\f078";
 border: none;
 margin-top: 0 !important;
 top:10px;
 right: 20px;
 text-align: right;
}

.button:hover, button:focus, .button:hover, .button:focus {
 color: $links-blue;
}

.button:hover, button:focus, .button:hover, .button:focus {
 background-color: $background-white;
}

.f-dropdown-common li a {
 display: block;
 padding: 8px;
 color: $links-blue;
 text-align: left;
}

.f-dropdown-common {
 position: absolute;
 background: $background-white;
 border: solid 1px $standard-bank-blue;
 font-size: 13px;
 margin-top: -2px;
 font-family: $font-family;
 border-bottom-left-radius: 3px;
 border-bottom-right-radius: 3px;
}

.anchor-links {
  color : $links-blue !important;
}

.anchor-links:hover {
  color : $links-blue !important;
}

.icon-ph {
  display: inline-block;
  width: auto;
  height: auto;
  min-width: 16px;
  padding: 4px 5px 0 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 $background-white;
  background-color: $background-white;
  position: absolute;
  left: 10px;
  top: 4px;
  bottom: 3px;
  z-index: 3;
}

.custom-text {
  padding-left: 30px !important;
  background-color: $background-white !important;
}

.input-container {
  position: relative;
  background-color: $background-white !important;
  top: -3px;
}

.row {
  max-width: 80%;
}

div.acc-trans-body-container {
  padding-left: 0;
}

.tab-bar .menu-icon {
  text-indent: 2.1875rem;
  width: 3.9rem;
  height: 4.9rem;
  display: block;
  padding: 0;
  color: $dark-grey !important;
  position: relative;
  background-color: $dark-grey;
  transform: translate3d(0, 0, 0);
}

.account_text {
  color: $dark-grey;
  font-family: $font-family;
  display: block;
  line-height: 1;
  font-size: 15px;
  padding-bottom: 5px;
  font-size: $font-size-px;
}

.no-right-margin {
  margin-right: 0;
}

multiselect {
  background-color: $background-white;
}

multiselect .btn {
  width: 100%;
  background-color: $background-white;
}

multiselect .btn.error{
  border: 1px solid $debit-text-red !important;
}

multiselect .dropdown-menu {
  height: auto;
  width: 170px;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  background-color: $background-white !important;
  z-index: 100;
}

multiselect .dropdown-menu > li > a {
  cursor: pointer;
  font-size: 13px;
  color: $links-blue;
}

.f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  outline: none;
  width: 100%;
  max-height: none;
  height: auto;
  background: $background-white;
  border: solid 1px $silver-grey;
  font-size: 0.875rem;
  z-index: 89;
  margin-top: 2px;
  max-width: 200px;
  max-height: 161px;
  overflow: auto;
}

.fi-calendar {
  font-size: 40px;
}

fieldset {
  height: 16px;
}

table thead tr th, table tr td {
  font-size: 10px;
}

table {
  width: 824px;
}

table tr:nth-of-type(even) {
  background: $background-white;
}

table.portfolio-performance-table tr td {
  font-size: 1.4rem !important;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textare {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: $pale-grey;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border: 1px solid $light-grey;
  border-color: $light-grey;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 13px; font-size: 1.3rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 33px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
}

.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.087em -0.825em 0 -0.42em $dark-grey, -0.173em -0.812em 0 -0.44em $dark-grey, -0.256em -0.789em 0 -0.46em $dark-grey, -0.297em -0.775em 0 -0.477em $dark-grey;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.338em -0.758em 0 -0.42em $dark-grey, -0.555em -0.617em 0 -0.44em $dark-grey, -0.671em -0.488em 0 -0.46em $dark-grey, -0.749em -0.34em 0 -0.477em $dark-grey;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.377em -0.74em 0 -0.42em $dark-grey, -0.645em -0.522em 0 -0.44em $dark-grey, -0.775em -0.297em 0 -0.46em $dark-grey, -0.82em -0.09em 0 -0.477em $dark-grey;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
}

@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.087em -0.825em 0 -0.42em $dark-grey, -0.173em -0.812em 0 -0.44em $dark-grey, -0.256em -0.789em 0 -0.46em $dark-grey, -0.297em -0.775em 0 -0.477em $dark-grey;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.338em -0.758em 0 -0.42em $dark-grey, -0.555em -0.617em 0 -0.44em $dark-grey, -0.671em -0.488em 0 -0.46em $dark-grey, -0.749em -0.34em 0 -0.477em $dark-grey;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, -0.377em -0.74em 0 -0.42em $dark-grey, -0.645em -0.522em 0 -0.44em $dark-grey, -0.775em -0.297em 0 -0.46em $dark-grey, -0.82em -0.09em 0 -0.477em $dark-grey;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em $dark-grey, 0 -0.83em 0 -0.42em $dark-grey, 0 -0.83em 0 -0.44em $dark-grey, 0 -0.83em 0 -0.46em $dark-grey, 0 -0.83em 0 -0.477em $dark-grey;
  }
}

.fa-pulse {
  color: $dark-grey;
  font-size: 68px;
  padding:10px;
  margin-bottom:20px;
  text-align:center;
}

.wobble-fix {
  -webkit-filter: blur(0);
}

.alert-text-large-bold {
  font-size:20px;
  text-align:center !important;
  margin-bottom:20px;
  font-weight:900;
}

.alert-text-large {
  font-size:20px;
  text-align:center !important;
  margin-bottom:20px;
}

.alert-text-medium {
  font-size: 15px;
  text-align: center !important;
  margin-bottom: 20px;
  color: $medium-grey;
}

.timeout-alert-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $pale-grey;
  z-index: 9999;
}

.timeout-alert-content {
  padding: 20px;
  background-color: $pale-grey;
  z-index: 10000;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  -webkit-box-shadow: 0 23px 23px 7px $light-grey;
  box-shadow: 0 23px 23px 7px $light-grey;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border:1px solid $silver-grey;
}

.connection-lost-text-margin-bottom {
  margin-bottom: 7px;
}

.k-grid th.k-header, .k-grid-header  .k-header>.k-link {
  background: $pale-grey;
  color: $dark-grey;
  overflow: visible;
  white-space: normal;
  border-color: $silver-grey;
}

.k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, .k-grid-header, .k-pager-wrap, .k-pager-wrap .k-textbox, .k-pager-wrap .k-link, .k-grouping-header .k-group-indicator, .k-gantt-toolbar .k-state-default {
  border-color: $silver-grey !important;
}

.k-grid-content>table>tbody>tr {
 background: $background-white;
 color: $dark-grey;
}

.k-grid table tr.k-master-row:not(.k-state-selected) td:nth-child(2){
  padding-left: 10px;
}

.k-grid table tr.k-master-row:not(.k-state-selected) td {
  border-bottom: solid 1px $silver-grey;
}

.k-grid table tr.k-master-row:not(.k-state-selected):last-child td {
  border-bottom: none;
}

.k-grid table tr.k-state-selected td {
  background: $pale-grey;
  color: $dark-grey;
}

.k-grid table tr.k-state-selected td:last-child {
  border-right:solid 1px $silver-grey !important;
}

.k-grid table tr.k-state-selected td:nth-child(2) {
  border-left: solid 4px $links-blue;
}

.k-grid td {
 border: none;
}

.k-hierarchy-cell, .k-hierarchy-col {
  display: none;
}

.k-footer-template {
  background: $main-background-grey;
}

.k-grid-footer {
  border: 1px solid rgb(205, 205, 205);
}

.k-grid-footer-wrap {
  border: none;
}

.k-detail-cell {
  border: 0px !important;
  border-collapse: collapse !important;
  margin: 0px !important;
  padding: 0px !important;
}

.k-widget, .k-block, .k-inline-block, .k-draghandle {
  border-top: solid 1px $silver-grey !important;
  border-left: solid 1px $silver-grey !important;
  border-right: solid 1px $silver-grey !important;
  border-bottom: none !important;
}

.highcharts-legend {
  display: none;
}

.error-message {
  color: red;
  text-align:center;
  font-size:12px;
}

.error {
 background: $pink;
}

.error-icon {
  display: none;
}

td.error .error-icon {
  display: inline-block;
  padding-left: 5px;
}

tr.k-master-row td.error:nth-child(2) {
  border-left: 4px solid red !important;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background: rgb(239, 240, 243) !important;
}

.tab-heading-bottom-border {
  padding-bottom: 4px;
  border-bottom: 4px solid $links-blue;
}

.tab-triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $links-blue;
  margin-left: 33px;
  margin-top: 7px;
}

.underlying-triangle-down-position {
  margin-left: 64px !important;
}

.tab-bar {
  height: 45px;
  position:fixed;
  top:0px;
  margin:auto;
  z-index:100000;
  width:100%;
}

.inline-list {
  padding-left: 5px !important;
  margin-bottom: 8px;
}

.hr-padding {
  padding-left: 6.6px;
  padding-right: 6.6px;
}

.tabs-content {
  margin-bottom: 0;
}

.tabs-content > .content.active {
  padding-bottom: 5px;
  padding-top: 9px;
}

.footer-padding {
  padding-top: 25px;
}

.login-button-width {
  width:80px;
}

.login-button {
  padding-top: 15px;
}

.login-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $pale-grey;
  z-index: 9999;
}

.login-content {
  padding: 20px;
  background-color: white;
  z-index: 10000;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  -webkit-box-shadow: 0 23px 23px 7px $light-grey;
  box-shadow: 0 23px 23px 7px $light-grey;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: $font-family;
}

.login-outer {
  position:relative;
  width: 100% !important;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $background-white;
}

.login-blue-text {
  font-size:11px;
  color:$links-blue;
  text-decoration:none;
  font-family: $font-family;
}

.login-black-text {
  font-size:11px;
  text-decoration:none;
  font-family: $font-family;
}

.login-header {
  font-size:2rem; font-size:20px;
}

.login-input {
  padding:8px;
  border:1px solid $pale-grey;
  border-radius:3px;
  border-style: solid;
  width:300px;
}

.login-content {
  padding: 30px;
  background-color: $pale-grey;
  z-index: 10000;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border:1px solid $pale-grey;
  max-width: 400px;
  -webkit-box-shadow: 0 2px 36px 0px $light-grey;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: $font-family;
}

.highcharts-axis {
  display: none;
}

@media only screen and (max-width: 40em) {
  div.sub-header-wrapper .sub-header {
    height: 100%;
    padding: 15px 10px 0 10px;
    line-height: 1;
    height: 44px;
    border-bottom: 1px solid #a3a3a5;
    margin-left: 0px; 
  }

  div.sub-header-wrapper .sub-header .sub-header-options {
    font-size: 16px;
    font-family: "HelveticaNeue-Bold", "robotobold", Arial, sans-serif;
    color: $links-blue;
    width: 100%; 
  }

  div.sub-header-wrapper .sub-header .sub-header-options span {
    cursor: pointer;
    margin: 0px;
    margin-left: 0px;
    text-align: center;
    width: 25%; 
  }

  .fluid-grid {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background: $background-white; 
  }

  div.header div.header-top {
    width: 100%;
    height: 55px;
    padding-top: 15px; 
  }

  .header-acc-display-block {
    display: block !important; 
  }

  .personal-acc-container {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
  }

  .personal-acc-sml-icon {
    font-size: 20px;
    margin-top: 4px;
    color: $links-blue;
    z-index: 100;
    position: absolute; 
  }

  .sign-out-small-screen {
    position: absolute;
    right: 10px; 
  }
  
  .details-warp {
    padding: 0;
    box-shadow: none;
    border: none; 
  }

  .details-warp .details-overlay {
    border: 0; 
  }

  .details-warp .close-reveal-modal {
    right: 25px; 
  }

  .details-warp .service-small {
    margin-top: 20px;
  }

  .details-warp .account-details {
    font-family: "HelveticaNeue-Bold", "robotobold", Arial, sans-serif;
    font-size: 14px;
    color: $dark-grey;
  }

  .details-warp .details-overlay {
    height: auto;
  }

  .details-warp .details-overlay .details-overlay-gutter {
    padding: 0;
    margin-top: 15px; 
  }

  .details-warp .details-overlay .details-overlay-share {
    margin-right: 8px;
  } 
  
  div.acc-trans-body-container {
    padding-left: 0; 
  }

  .acc-empty-boxes {
    height: 50px;
    width: 27%;
    background: white;
    border: 1px solid #c8c9cc;
    float: left;
    margin-bottom: 20px;
    margin-left: 15px; 
  }
  
  hr {
    border-top: 1px solid $pale-grey;
  }

  .bigger-width-on-phone {
    width: 100%;
  }

  .hide-hr {
    display: none;
  }

  .phone-color {
    background-color: $background-white;
  }

  .row {
    width: auto;
    margin: 0;
    max-width: none;
  }

  .column, .columns {
    background-color: $background-white;
  }

  .time-delay-phone {
    background-color: $background-white;
    width: 100% !important;
    padding: 5px 0px 12px 10px;
    height:30px;
  }

  .accordion .accordion-navigation > a, .accordion dd > a {
    background: $pale-grey;
    color: $links-blue;
    padding: 1rem;
    display: block;
    font-family: $font-family;
    font-size: 1rem;
    border-bottom: 1px solid $links-blue;
  }

  .footer-wrapper .footer {
    border-top: 1px solid $pale-grey;
    padding: 25px 25px;
    font-family: $font-family;
    text-align: center;
    padding-left: 15px;
    line-height: 12px;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    background-color: $background-white;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
  }

  .accordion .accordion-navigation > .content, .accordion dd > .content {
    display: none;
    padding: 0;
  }

  .fa-chevron-right, .fa-chevron-down, fa-chevron-up {
    color: $links-blue;
  }

  .phone-table {
    border-radius: 3px;
    border: 1px solid $pale-grey;
    background-color: $pale-grey;
    padding: 20px;
    width: 94%;
    font-family: $font-family;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .block-text {
    display: inline-block;
    padding: 5px;
    padding-left: 14px;
    font-size: 12px;
  }

  .seperator {
    padding-left:0;
    padding-top: 0;
    border: 0;
  }

  .mobilelineseperator {
    border-bottom: 1px solid $pale-grey;
    margin-bottom: 8px;
    padding-bottom: 7px;
    background-color: $background-white;
  }

  .portfolio-performance-buttons, .downloadDropdownMargin, .downloadDropdown, .downloadOption {
    width: 100% !important;
  }

  .account_text {
    color: $dark-grey;
    font-family: $font-family;
    display: block;
    line-height: 1;
    padding-top: 8px;
    font-size: $font-size-px;
  }

  .top-performers-name {
    padding-top: 6px;
    font-size: 12px;
    padding-right: 15px;
    font-family: $font-family;
    color: $background-white;
    width: 25%;
  }

  table {
    width:100% !important;
  }

  div.header div.header-top .sign-out-header {
    position: absolute;
    right: 4px;
    top: 8px;
    font-family: $font-family;
    font-size: $font-size-px; font-size: $font-size-rem;
    color: $links-blue;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  div.sub-header-wrapper .sub-header .sub-header-options {
    font-size: 16px;
    font-family: "HelveticaNeue-Bold", "robotobold", Arial, sans-serif;
    color: $links-blue;
    width: 100%; 
  }

  div.sub-header-wrapper .sub-header .sub-header-options span {
    cursor: pointer;
    margin: 0px;
    margin-left: 0px;
    text-align: center;
    width: 25%; 
  }

  .sign-out-small-screen {
    position: absolute;
    right: 10px;
    margin-top: 7px; 
  }

  .fluid-grid {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background: $background-white; 
  }

  div.sub-header-wrapper .sub-header {
    height: 100%;
    padding: 14px 0px 0 0px;
    line-height: 1;
    height: 44px;
    border-bottom: 1px solid #a3a3a5; 
  } 
  
  .row {
    max-width: 98%;
  }

  div.sub-header-wrapper .sub-header .sub-header-options {
    font-size: 16px;
    font-family: $font-family;
    color: $links-blue;
    width: auto !important;
  }

  div.sub-header-wrapper .sub-header .sub-header-options span {
    cursor: pointer;
    margin-left: 25px;
    text-align: center;
    width:auto !important;
  }

  div.header div.header-top .sign-out-header {
   position: absolute;
   right: -10px;
   top: 8px;
   font-family: $font-family;
   font-size: $font-size-px; font-size: $font-size-rem;
   color: $links-blue;
 }

 .details-overview-bluetext {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: $font-family;
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  top: 45px;
  right: 190px;
  }

  .margintop {
    margin-top:20px;
  }

  .cashsummarywrap {
    margin-top: 15px;
    padding-left: 0;
    border: none;
  }

  .header-icons {
    right: 45px;
    font-size: 26px; font-size: 2.6rem;
    position: absolute;
    padding-right: 15px;
    color : $links-blue;
    top: 8px !important;
  }
}