@import 'constants';
@import 'colors';

.sticky_footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 13px;
  font-size: $font-size-12px;
  font-size: $font-size-18rem;
  background-color: white;
  text-align: center !important;
  font-family: $font-family;
}

.phone-table-dashboard {
  border-radius: 3px;
  width: 100%;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

div.dashboard-widget-heading {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $font-size-18px;
  font-size: $font-size-18rem;
  color: $links-blue;
  padding: 20px 0 11px 18px;
  font-family: $font-family;
  position: relative;
  z-index: 11;
  text-transform: capitalize;
}

.dashboard-widget-available-balance {
  line-height: 20px;
  float: left;
  font-size: $font-size-12px;
  font-size: $font-size-12rem;
}

.dashboard-widget-available-balance .widget-balance-value {
  color: $links-blue;
  font-size: $font-size-30px;
  font-size: $font-size-30rem;
  margin-left: -2px;
}

.dashboard-widget-table {
  padding: 0 ! important;
  margin-top: 0;
  min-height: 150px;
}

.dashboard-widget-table table tr {
  max-height: 30px;
  height: 29px;
}


.dashboard-widget-table table tr td:first-child {
  padding-left:0 !important;
  width: auto;
}

.dashboard-widget-table table tr {
  max-height: 0px;
  height: 0px;
  border-top: 0px !important;}

.amounts-medium-grey{
  padding-left:0;
  font-size: $font-size-20px;
  font-size: $font-size-24rem;
}

.text-normal {
  font-size: $font-size-12px;
  font-size: $font-size-12rem;
}

.blockleft {

  display: block;
  font-size: $font-size-12px;
  font-size: $font-size-12rem;
  color: $medium-grey;
  font-family: $font-family;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.blockright {

  display: block;
  font-size: $font-size-12px;
  font-size: $font-size-12rem;
  color: $medium-grey;
  font-family:$font-family;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}

.dashboard-block-border-left {
  width: 49%;
  padding-top: 17px;
  border-right: 1px solid $silver-grey;
}

.dashboard-block-noborder-left {
  width: 49%;
  padding-top: 17px;
}

.dashboard-block-border-right {
  padding-top: 17px;
}

.dashboard-widget-available-balance-grey {
  color: $medium-grey;
  font-size: $font-size-20px;
  font-size: $font-size-20rem;
}

.dashboard-widget-available-balance-grey-small {
  color: $medium-grey;
  font-size: $font-size-15px;
  font-size: $font-size-15rem;
}


.dashboard-description-text {
  color:  $medium-grey;
  font-size: $font-size-13px;
  font-size: $font-size-13rem;
  font-family: $font-family;
}

.padding-bottom {
  padding-bottom: 17px;
}

.row-padding-bottom {
  padding-bottom: 8px;
}

div.dashboard-widget-content {
  padding: 15px 17px 12px 17px;
  font-family:$font-family;
}


.dashboard-grid {
  max-width: 82%;
  margin: 0 auto;
}

.dashboard-grid .row {
  max-width: 100%;
}

li.list-separator-dashboard {
  border-left: 0;
  line-height: 14px;
}

.list-separator-dashboard:not(:last-child) {
  border-bottom: 1px solid $silver-grey;
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.boldtext {font-weight: 900;}
.notboldtext {font-weight: 100;}

.dashboard-download-button {
  width: 235px;
  text-align: left;
}

.list{  min-height: 30px;
  overflow-y: scroll;
  height: 177px;}


  .f-dropdown-small li a {
    display: block;
    padding: 8px 8px 8px 12px;
    color: $links-blue;
    text-align: left;
    width: 100%;
  }



  .f-dropdown-dashboard-summary {
    position: absolute;
    list-style: none;
    margin-left: 0;
    outline: none;
    max-height: none;
    height: auto;
    background: $background-white;
    border: solid 1px $light-grey;
    font-size: $font-size-13px;
    font-size: $font-size-13rem;
    z-index: 89;
    margin-top: -4px;
    font-family:$font-family;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: block;
    top: 33px;
    left: auto !important;
    width: 235px;
  }

  .f-dropdown-dashboard-summary li a {
    display: block;
    padding: 8px;
    color: $links-blue;
    text-align: left;
    width: 100%;
  }

  .dashboard-widget-blue-text {
    font-size: $font-size-13px;
    font-size: $font-size-13rem;
    color: $links-blue;
  }

  .movement-margin {
    margin-top: 15px;
  }

  .yearendlineright {
    border-right: 1px solid $standard-bank-blue;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .yearendlineleft {
    border-left: 1px solid $standard-bank-blue;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .widget-center {
    display: inline-block;
    margin:0 auto;
    width:25%;
    vertical-align: top;
}

.widget-left {
  float: left;
  width:40%;
}

.widget-right {
  float: right;
  width:25%;
}

.border-bottom-padding {
  border-bottom: 1px solid $silver-grey;
  padding-bottom: 6px;
  padding-top:6px;
}

.dashboard-widget-table-scroll {
  padding: 0 !important;
  margin-top: 0;
  min-height: 150px;
  overflow-y: scroll;
  height: 130px;
}

.dashboard-gutter {
  padding-right: 10px;
  padding-left: 10px;
}

.top-widgets-dashboard {
    height: 100%;
    width: 17%;
    display: inline-block;
    padding:2px;
    margin-bottom: 2px;
    padding-bottom: 8px;
    color: $background-white;
    text-align: center;
}

.body-wrapper-dashboard {
  padding-top: 34px;
  margin-top: 0;
}

.percentage50 {
  width: 50%;
  text-align: center;
}

.percentage33 {
  width: 33%;
  text-align: center;
}

.percentage12 {
  width: 12.5%;
  text-align: center;
}

.yearsselected {
  background: $standard-bank-blue;
  color:$background-white !important;
}

@media only screen and (max-width: 40em) {

  .dashboard-grid {
    max-width: 100% !important;
    margin: 0 auto;
    padding-top: 80px;
    background-color: #eaeaea;
  }

  .phone-table-dashboard {
    border-radius: 3px;
    width: 100%;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  }

  .column-dashboard, .columns-dashboard {
   background-color: #eaeaea;
  }

  .top-widgets-dashboard {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  padding: 2px;
  color: #FFFFFF;
  text-align: center;
  height: 27px;
  font-size: 10px;
  margin-bottom: -16px;
}

  }
