@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rsjsnq');
	src:url('fonts/icomoon.eot?#iefix-rsjsnq') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-rsjsnq') format('truetype'),
		url('fonts/icomoon.woff?-rsjsnq') format('woff'),
		url('fonts/icomoon.svg?-rsjsnq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-accept:before {
	content: "\e600";
}
.icon-accesspoint-stdbank:before {
	content: "\e601";
}
.icon-accesspoint-star:before {
	content: "\e602";
}
.icon-accesspoint-arrow:before {
	content: "\e603";
}
.icon-accesspoint:before {
	content: "\e604";
}
.icon-add-group:before {
	content: "\e605";
}
.icon-add-recipient:before {
	content: "\e606";
}
.icon-add-tile:before {
	content: "\e607";
}
.icon-add:before {
	content: "\e608";
}
.icon-airtime:before {
	content: "\e609";
}
.icon-arrow-left:before {
	content: "\e60a";
}
.icon-arrow-right:before {
	content: "\e60b";
}
.icon-ask:before {
	content: "\e60c";
}
.icon-building .path1:before {
	content: "\e60d";
	color: rgb(0, 0, 0);
}
.icon-building .path2:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path3:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path4:before {
	content: "\e610";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path5:before {
	content: "\e611";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path6:before {
	content: "\e612";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path7:before {
	content: "\e613";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path8:before {
	content: "\e614";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path9:before {
	content: "\e615";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path10:before {
	content: "\e616";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path11:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path12:before {
	content: "\e618";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path13:before {
	content: "\e619";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-building .path14:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-buy:before {
	content: "\e61b";
}
.icon-calculator:before {
	content: "\e61c";
}
.icon-calendar:before {
	content: "\e61d";
}
.icon-call:before {
	content: "\e61e";
}
.icon-cancel:before {
	content: "\e61f";
}
.icon-cash-history:before {
	content: "\e620";
}
.icon-cash:before {
	content: "\e621";
}
.icon-contract:before {
	content: "\e622";
}
.icon-delete:before {
	content: "\e623";
}
.icon-directory:before {
	content: "\e624";
}
.icon-download:before {
	content: "\e625";
}
.icon-drawer:before {
	content: "\e626";
}
.icon-edit:before {
	content: "\e627";
}
.icon-electricity:before {
	content: "\e628";
}
.icon-email:before {
	content: "\e629";
}
.icon-expand:before {
	content: "\e62a";
}
.icon-facebook:before {
	content: "\e62b";
}
.icon-favorite:before {
	content: "\e62c";
}
.icon-feedback:before {
	content: "\e62d";
}
.icon-filter:before {
	content: "\e62e";
}
.icon-funeral:before {
	content: "\e62f";
}
.icon-graph:before {
	content: "\e630";
}
.icon-group:before {
	content: "\e631";
}
.icon-improve-home:before {
	content: "\e634";
}
.icon-info:before {
	content: "\e635";
}
.icon-information-circle:before {
	content: "\e636";
}
.icon-information-cirlclefull:before {
	content: "\e637";
}
.icon-insure-car:before {
	content: "\e638";
}
.icon-insure-holiday .path1:before {
	content: "\e639";
	color: rgb(0, 0, 0);
}
.icon-insure-holiday .path2:before {
	content: "\e63a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-insure-holiday .path3:before {
	content: "\e63b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-insure-holiday .path4:before {
	content: "\e63c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-insure-holiday .path5:before {
	content: "\e63d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-insure-holiday .path6:before {
	content: "\e63e";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-insure-house:before {
	content: "\e63f";
}
.icon-like:before {
	content: "\e640";
}
.icon-list-view:before {
	content: "\e641";
}
.icon-locked:before {
	content: "\e642";
}
.icon-logo:before {
	content: "\e643";
}
.icon-orders:before {
	content: "\e644";
}
.icon-orientation:before {
	content: "\e645";
}
.icon-overflow:before {
	content: "\e646";
}
.icon-pay-debt:before {
	content: "\e647";
}
.icon-pay:before {
	content: "\e648";
}
.icon-personal-goal:before {
	content: "\e649";
}
.icon-personal:before {
	content: "\e64a";
}
.icon-phone:before {
	content: "\e64b";
}
.icon-portfolio:before {
	content: "\e64c";
}
.icon-private:before {
	content: "\e64d";
}
.icon-recipient:before {
	content: "\e64e";
}
.icon-refresh:before {
	content: "\e64f";
}
.icon-request:before {
	content: "\e650";
}
.icon-save-retirement:before {
	content: "\e651";
}
.icon-schedule:before {
	content: "\e652";
}
.icon-search:before {
	content: "\e653";
}
.icon-settings:before {
	content: "\e655";
}
.icon-share:before {
	content: "\e656";
}
.icon-share-account:before {
	content: "\e657";
}
.icon-share-social:before {
	content: "\e658";
}
.icon-show-hide:before {
	content: "\e659";
}
.icon-sms:before {
	content: "\e65a";
}
.icon-table-view:before {
	content: "\e65b";
}
.icon-timer:before {
	content: "\e65c";
}
.icon-trade:before {
	content: "\e65d";
}
.icon-transact:before {
	content: "\e65e";
}
.icon-transfer:before {
	content: "\e65f";
}
.icon-trigger-add:before {
	content: "\e660";
}
.icon-triggers:before {
	content: "\e661";
}
.icon-twitter:before {
	content: "\e662";
}
.icon-university:before {
	content: "\e663";
}
.icon-unlock:before {
	content: "\e664";
}
.icon-unlocked:before {
	content: "\e665";
}
.icon-watchlist:before {
	content: "\e666";
}
.icon-withdraw:before {
	content: "\e668";
}
.icon-wifi:before {
	content: "\e675";
}
