.details-overview .details-overview {
  font-size: 12px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 15px;
}

.details-overview-medium .details-overview-medium {
  font-size: 12px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-performance-buttons {
  display: inline-block;
  margin-top: 0px;
}

.search-button-size {
  height: 32px;
  width: 149;
}

.details-overview-amounts-bold{
  font-size: 14px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  font-weight:900;
  margin-right: 20px;
}

.details-overview-bluetext{
  font-size: 12px;
  color: #2570e0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 20px;
}

.details-bluetext{
  font-size: 14px;
  color: #2570e0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-top: 10px;
}


.details-overview-bluetext-streaming{
  font-size: 12px;
  color: #2570e0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  border:1px solid #2570e0;
  padding:2px;
}

.details-overview-feed-details{
  font-size: 12px;
  color: #999;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  float:right;
  margin-top:10px;

}

.details-overview-values{
  font-size: 12px;
  color: #999;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  padding-top:5px;
  padding-bottom:10px;

}

.details-overlay {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 18px 20px;
	margin-top: 8px;
	background: #e2e4e9;
	position: relative;
	height: 160px;
}

.acc-empty-boxes {
  width: 96px;
  height: 35px;
  background: #d6d6d6;
  float: left;
  color: #2570e0;
  font-size:12px;
  padding-left:5px;
  padding-top:5px;
  border:0px solid #2570e0;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.text-red {
  color : #FF0000;
}

.text-green {
  color : #007F00;
}

.text-blue {
  color : #0000FF;
}

.text-grey {
  color : #D3D3D3;
}

.portfolio-overview-container {
  width: 100%;
  background: white;
  border: 1px solid #c8c9cc;
  float: left;
  margin-bottom: 20px;
  list-style-type: none;
  font-size:12px !important; 
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  position: relative;
  border: 1px solid #c8c9cc;
  padding: 20px;
  z-index:0;
}

.bold-text {
  font-weight: bold;
}

.noBorder {
  border: none;
}

div.acc-trans-body-container {
  padding-left: 15px;
}

.empty-box-container {
  height: auto;
}

.sbBlue {
  color: #2570E0;
}

.selected {
  background-color: #FFF;
  border-left:1px solid #c8c9cc; border-bottom:1px solid #c8c9cc; border-top:1px solid #c8c9cc;
  width:96px;
  color:#000;
  position:relative;
  z-index: 10000 !important;
  overflow:hidden;
}

.noLeftPadding {
  padding-left: 0px !important;
}

.dashboard-overview-details {
  font-size: 14px;
  font-weight: bold;
  color: #0099FF;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  padding:2px;
}

.dashboard-details-overlay {
  height: 10px !important;
  padding:2px !important;
  background-color: #FFFFFF;
}

.brightBlue {
  color: #0099FF;
}

.dashboard-details-font-size {
  font-size: 14px;
}

.disclaimer-text {
  color: #666666;
  font-size: 11;
}

hr { 
  display: block; 
  height: 1px;
  border: 0;
  border-top: 1px solid #A8A8A8;
  margin: 1em 0; padding: 0; 
}

.icons-dashboard-overview {
  float:right;
  top: 10px;
}

.header-smallscreen-back-icon {
  margin: 0 3px 0 10px;
  font-size: 16px !important;
  color: #666;}

.headingFormat {
  font-size: 24px;
  color:#2570e0;
}

.row-headings-market-news {
  font-weight:bold;
  font-size: 14px;
  color: #666666;
}

.row-data-market-news-date {
  font-size: 14px;
  color:#999999;
  margin-bottom:10px; border-bottom:1px solid #e3e4e4;
}

.row-data-market-news-description {
  font-size: 14px;
  color:#2570E0;
  margin-bottom:10px; border-bottom:1px solid #e3e4e4;
}

.portfolio-performance-previous-years {
  font-size: 14px;
  color: #666666;
}

.fi-calendar {
  font-size: 40px;
}

td {
  padding-top:5px;
  padding-bottom:5px;
}

td:first-child {
  padding-right:0;
}

.k-grid {
    font-size: 10px !important;
}

.enabled {
  background-color: #0099FF;
  color: #FFFFFF;
}

.disabled {
  background-color: #EFEFEF;
  color: #0099FF;
}

.ost-buttons {
  font-size: 12px;
  width: 50px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  padding:2px;
  text-align: center;
}

.ost-text {
  font-size: 12px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  color: #2570E0;
}

fieldset {
  height: 16px;
}

.switch label {
  background-color: #0099FF;
}

.switch input:checked + label {
  background-color: #0099FF;
}

table thead tr th, table tr td {
  font-size: 8px;
}

.switch.tiny label {
  height: 16px;
  vertical-align: bottom;
}

.switch.tiny label:after {
  height: 8px;
  width: 8px;
}  

.positionSwitch {
  display: inline-block;
  padding:2px;
}

.portfolio-performance-text {
  font-size: 16px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}

.center-calendar-text {
  padding-left: 280px;
}

.top-widgets {
  height: 79px;
  width: 68px;
  display: inline-block;
  padding:2px;
  color: #FFFFFF;
  text-align: center;
}

.gainers {
  background-color: #007F00 !important;
  padding:2px;
}

.losers {
  background-color: #FF0000 !important;
  padding:2px;
}

.top-performers-heading-spacing {
  display: inline-block;
  padding-right: 345px;
}

.top-performers-headings {
  font-size: 18px;
  color: #666666;
  line-height: 48px;
  padding-bottom:10px;
}

.top-performers-name {
  padding-top: 6px;
}

.accounts-dropdown {
  padding-bottom:10px;
}

.list-separator:not(:last-child) {
  border-bottom: 1px dashed #999;
}

li.list-separator:hover {
  border-left: 2px solid #0000FF;
}

.f-dropdown li a:hover {
  color: #0000FF;
}

.account-details-dropdown {
  display: inline-block;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #666666;
}

/* Tablet size */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .acc-empty-boxes {
    height: 50px;
    width: 18%;
    background: #c8c9cc;
    float: left;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .empty-box-container {
    width: 100%;
    height: auto;
  }
}

/* Phone size */
@media only screen and (max-width: 40em) {
  .empty-box-container {
    width: 100%;
    height: auto;
  }
}

.fluid-grid {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff
}

.account-wrapper {
  background: #e9eaed; }
