
.details-overview .details-overview {
    font-size: 14px;
    color: #666666;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    display: inline-block;
    margin-right: 15px;
}

.details-overview-amounts-bold{
    font-size: 14px;
    color: #666666;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    display: inline-block;
	font-weight:900;
    margin-right: 15px;
}

.details-overview-bluetext{
    font-size: 12px;
    color: #2570e0;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    display: inline-block;
    margin-right: 15px;
}

.details-overview-bluetext-streaming{
    font-size: 12px;
    color: #2570e0;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    display: inline-block;
    border:1px solid #2570e0;
	padding:2px;
}

.details-overview-feed-details{
    font-size: 12px;
    color: #999;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
    display: inline-block;
	float:right;
	margin-top:10px;

}

.details-overview-values{
    font-size: 12px;
    color: #999;
    font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	padding-top:5px;
	padding-bottom:10px;

}

.details-overlay {
    border: 1px solid #a3a3a5;
    border-radius: 3px;
    padding: 18px 20px;
    margin-top: 8px;
    background: #e2e4e9;
    position: relative;
    height: 140px;
}

.acc-empty-boxes {
  width: 100%;
  background: whitesmoke;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.acc-empty-boxes a {
  width: 100%;
  background: #000;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.acc-empty-boxes a:hover {
  width: 100%;
  background: #000;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.acc-empty-boxes a:visted {
  width: 100%;
  background: #000;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

ul {
    width: 200px;
    border: 0px solid black;
}

li {
    border: 0px solid black;
    margin: 0 10px 20px 10;
    background: white;
    float: left;
}

  .text-red {
    color : #FF0000;
  }

  .text-green {
    color : #007F00;
  }

  .text-blue {
    color : #0000FF;
  }

  .text-grey {
    color : #D3D3D3;
  }

  .sticky_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
  }

  .portfolio-overview-container {
    height: 509px;
    width: 100%;
    background: white;
    border: 1px solid #c8c9cc;
    float: left;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .mouse-cursor-hover {
    cursor: pointer; cursor: hand;
  }

  .bold-text {
    font-weight: bold;
  }

  table, th, td {
   border: 1px solid #d3d3d3;
 }

 .ngdialogCustom {
  border-radius: 5px;
  background: #FFFFFF;
  font-family: 'Helvetica',sans-serif;
  font-color: #000000;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 1em;
  position: center;
  width: 700px;
  height: 400px;
}

.ngdialog-overlay { 
  background: none !important; 
}

div.acc-trans-body-container {
  padding-left: 15px;
}

.empty-box-container {
  height: 680px;
}

.sbBlue {
  color: #2570E0;
}

.selected {
  background-color: #666666;
}