
.details-overview .details-overview {
  font-size: 14px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 15px;
}

.details-overview-amounts-bold{
  font-size: 14px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  font-weight:900;
  margin-right: 15px;
}

.details-overview-bluetext{
  font-size: 12px;
  color: #2570e0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 15px;
}

.details-overview-bluetext-streaming{
  font-size: 12px;
  color: #2570e0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  border:1px solid #2570e0;
  padding:2px;
}

.details-overview-feed-details{
  font-size: 12px;
  color: #999;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  float:right;
  margin-top:10px;

}

.details-overview-values{
  font-size: 12px;
  color: #999;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  padding-top:5px;
  padding-bottom:10px;

}

.details-overlay {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 18px 20px;
	margin-top: 8px;
	background: #e2e4e9;
	position: relative;
	height: 160px;
}

.acc-empty-boxes {
  width: 100%;
  height: 35px;
  background: whitesmoke;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.acc-empty-boxes a {
  width: 100%;
  background: #000;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.acc-empty-boxes a:hover {
  width: 100%;
  background: #000;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

.acc-empty-boxes a:visted {
  width: 100%;
  background: #000;
  float: left;
  color: #666666;
  font-size:13px;
  padding:15px 15px 25px 15px;
  border:0px;
  margin-bottom:10px;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
}

ul {
  width: 200px;
  border: 0px solid black;
}

li {
  border: 0px solid black;
  margin: 0 10px 20px 10;
  background: white;
  float: left;
}

.text-red {
  color : #FF0000;
}

.text-green {
  color : #007F00;
}

.text-blue {
  color : #0000FF;
}

.text-grey {
  color : #D3D3D3;
}

.portfolio-overview-container {
  height: 550px;
  width: 100%;
  background: white;
  border: 1px solid #c8c9cc;
  float: left;
  margin-bottom: 20px;
  list-style-type: none;
  font-size:12px !important; 
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  position: relative;
  border: 1px solid #c8c9cc;
  background: #f4f5f6;
  padding: 20px;
}

.bold-text {
  font-weight: bold;
}

.noBorder {
  border: none;
}

div.acc-trans-body-container {
  padding-left: 15px;
}

.empty-box-container {
  height: auto;
}

.sbBlue {
  color: #2570E0;
}

.selected {
  background-color: #A8A8A8;
  color:#FFF;
  border-radius:3px;
}


.noLeftPadding {
  padding-left: 0px !important;
}

.dashboard-overview-details {
  font-size: 14px;
  font-weight: bold;
  color: #0099FF;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  padding:2px;
}

.dashboard-details-overlay {
  height: 10px !important;
  padding:2px !important;
  background-color: #FFFFFF;
}

.brightBlue {
  color: #0099FF;
}

.dashboard-details-font-size {
  font-size: 14px;
}

.disclaimer-text {
  color: #666666;
  font-size: 11;
}

hr { 
  display: block; 
  height: 1px;
  border: 0;
  border-top: 1px solid #A8A8A8;
  margin: 1em 0; padding: 0; 
}

.icons-dashboard-overview {
  float:right;
  top: 10px;
}

.header-smallscreen-back-icon {
  margin: 0 3px 0 10px;
  font-size: 16px !important;
  color: #666;}

.headingFormat {
  font-size: 24px;
}

.row-headings-market-news {
  font-weight:bold;
  font-size: 14px;
  color: #666666;
}

.row-data-market-news-date {
  font-size: 14px;
  color:#999999;
  margin-bottom:10px; border-bottom:1px solid #e3e4e4;
}

.row-data-market-news-description {
  font-size: 14px;
  color:#2570E0;
  margin-bottom:10px; border-bottom:1px solid #e3e4e4;
}

.portfolio-performance-previous-years {
  font-size: 14px;
  color: #666666;
}

.fi-calendar {
  font-size: 40px;
}

td {
  padding-top:5px;
  padding-bottom:5px;
}

td:first-child {
  padding-right:0;
}

/* Tablet size */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .acc-empty-boxes {
    height: 50px;
    width: 18%;
    background: #c8c9cc;
    float: left;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .empty-box-container {
    width: 100%;
    height: auto;
  }
}

/* Phone size */
@media only screen and (max-width: 40em) {
  .empty-box-container {
    width: 100%;
    height: auto;
  }
}

.fluid-grid {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff
}

.account-wrapper {
  background: #e9eaed; }
