.portfolio-overview-container {
  width: 100%;
  background: white;
  border: 1px solid #999999;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  float: left;
  margin-bottom: 20px;
  list-style-type: none;
  font-size:12px !important; 
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  position: relative;
  padding: 20px;
  z-index: 0;
  min-height: 600px;
}

.portfolio-performance-buttons {
  display: inline-block;
  margin-top: 0;
}

.search-button-size {
  height: 32px;
  width: 149px;
}

.details-bluetext {
  font-size: 14px;
  color: #2570E0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-top: 10px;
}

.icons-dashboard-overview {
  float:right;
  top: 10px;
}

.headingFormat {
  font-size: 20px;
  color:#333;
  margin-top: 10px;
}

.row-headings-market-news {
  font-weight:bold;
  font-size: 14px;
  color: #666666;
}

.row-data-market-news-date {
  font-size: 14px;
  color: #999999;
  margin-bottom: 10px; 
  border-bottom: 1px solid #E3E4E4;
}

.row-data-market-news-description {
  font-size: 14px;
  color: #2570E0;
  margin-bottom: 10px; 
  border-bottom: 1px solid #E3E4E4;
}

.portfolio-performance-previous-years {
  font-size: 14px;
  color: #666666;
}

.switch label {
  background-color: #0099FF;
}

.switch input:checked + label {
  background-color: #0099FF;
}

.switch.tiny label {
  height: 16px;
  vertical-align: bottom;
}

.switch.tiny label:after {
  height: 8px;
  width: 8px;
}  

.portfolio-performance-text {
  font-size: 16px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}

.on-expiry {
  padding-bottom: 20px;
  padding-top: 10px;
}

.center-calendar-text {
  padding-left: 280px;
}

.button-padding-right {
  padding-right: 30px;
}

.grid-additional-information {
  font-family: 'Arial';
  font-size: 11px;
  color: #666666;
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-style: normal;
}

.grid-additional-information-data {
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #999999;
  border-style: none !important;
  background-color: #FFFFFF;
}

.grid-additional-information-headings {
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #666666;
  border-style: none !important;
  background-color: #FFFFFF;
}

.grid-on-expiry-heading {
  font-weight: bold;
  font-weight: 700;
  padding-right: 63px;
}

.grid-additional-information-links {
  padding-right: 40px;
  padding-bottom: 15px;
  color : #0000FF;
}

.grid-additional-information-tabs {
  padding-top: 15px;
}

.tabs dd > a {
  font-family: 'Arial';
  font-size: 11px;
  color: #666666;
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-style: normal;
  padding-right: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: #FFFFFF !important;
}

.tabs dd.active a {
  color: #2570E0;
}

.tabs dd:not(:last-child) {
  border-right: 1px solid #000000;
}

.tabs dd:last-child {
  padding-left: 10px;
}

.years-selection {
  border-left: 1px solid #2570E0;
  border-top: 1px solid #2570E0;
  border-bottom: 1px solid #2570E0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

div.years-selection:hover {
  background: #2570E0;
}

div.years-selection:hover > a {
  color: #FFFFFF !important;
}

div.years-selection:hover > i {
  color: #FFFFFF !important;
}

.back-arrow {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 39px;
}

.forward-arrow {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #2570E0;
  height: 39px;
}

.padding-below-performers {
  padding-bottom: 30px;
}

.sector-breakdown-additional-info {
  padding-left: 50px;
}

.search-textbox {
  width: 225px !important;
}

.text-blue-instruments-name {
  color: #0000FF;
  font-size: 18px;
}

.text-grey-instruments-name {
  color: #cdcdcd;
  font-size: 12px;
}

.text-grey-instruments-value-large {
  color: #a3a3a3;
  font-size: 25px;
}

.text-grey-instruments-qty {
  color: #6b6b6b;
  font-size: 14px;
}

.text-grey-instruments-qty-value {
  color: #b5b5b5;
  font-size: 14px;
}


.text-green {
  color: #007F00;
  font-weight: normal !important; 
  font-size: 12px;
  font-size: 1.2rem;
}

.text-green-large {
  color: #007F00;
  font-weight: normal !important; 
  font-size: 18px;
  font-size: 1.8rem;
}

.text-red-large {
  color: #FF0000;
  font-weight: normal !important; 
  font-size: 18px;
  font-size: 1.8rem;
}

.instrument-code {
  color: #2570e0;
  font-size: 19px;
}

.instrument-name {
  color: #999;
  font-size: 10px;
}

.instrument-value-large {
  color: #999;
  font-size: 34px;
}

.instrument-data-medium {
  font-size: 12px;
  color:#666;
}

.instrument-data {
  font-size: 12px;
  color:#666;
}

.instrument-data-light-grey {
  font-size: 12px;
  color:#999;
}

.instrument-data-unit-cost {
  font-size: 12px;
  color:#999;
}

.instrument-percentage {
  font-size: 18px;
}

.instrument-text-blue {
  color:#2570e0 !important;
  font-size:12px;
}

.instrument-bold-text {
  color:#333;
  font-size:12px;
  font-weight:900;
  padding-left:1px !important;
}

.instrument-bold-text-blue {
  color:#2570e0 !important;
  font-size:12px;
  font-weight:900;
}


@media only screen and (max-width: 40em) {
  .mobilelineseperator-instruments {
   border-bottom: 1px solid #eeeeee;
   margin-left:10px !important;
   margin-right:10px !important;
   padding-bottom: 8px;
   padding-top: 0;
   margin-bottom: 8px; 
 }

 .padding-for-bold-instruments {
  margin-left:10px !important;
   margin-right:10px !important;
   padding-top: 5px;
 }

  .portfolio-overview-phone {
    width: 100%;
  }

  .phone-color {
    background-color: #FFF;
  }

  .acc-empty-boxes {
   background: #F8F8F8;
   border-left: 0;
   border-top: 0;
   float: left;
   border-radius: 0;
   color: #2570E0;
   width: 100%;
   font-size: 15px;
   padding-left: 15px;
   margin-left:0;
   padding-top: 13px;
   border-bottom: 1px solid #397DE3;
   margin-bottom: 0;
   font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
 }

 .portfolio-overview-container {
   width: 100%;
   background: white;
   border: 0 !important;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   border-top-right-radius: 0;
   float: left;
   margin-bottom: 20px;
   list-style-type: none;
   font-size: 12px !important; 
   font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
   position: relative;
   padding: 5px;
   z-index: 0;
   min-height: 600px;
 }

 .search-textbox {
  width: 100% !important;
  padding-left: 10px;
}
}