$grey1: #999999;
$grey2: #2570E0;
$grey3: #333;
$grey4: #666666;
$white: #FFFFFF;
$font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;

  .portfolio-overview-container {
    width: 100%;
    background: $white;
    border: 1px solid $grey1;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    float: left;
    margin-bottom: 20px;
    list-style-type: none;
    font-size: 12px !important; 
    font-family: $font-family;
    position: relative;
    padding: 20px;
    z-index: 0;
    min-height: 600px;
  }

  .portfolio-performance-buttons {
    display: inline-block;
    margin-top: 0;
  }

  .search-button-size {
    height: 32px;
    width: 149px;
  }

  .details-bluetext {
    font-size: 14px;
    color: $grey2;
    font-family: $font-family;
    display: inline-block;
    margin-top: 10px;
  }

  .icons-dashboard-overview {
    float:right;
    top: 10px;
  }

  .headingFormat {
    font-size: 20px;
    color: $grey3;
    margin-top: 10px;
  }

  .portfolio-performance-previous-years {
    font-size: 14px;
    color: $grey4;
  }

  .switch label {
    background-color: #0099FF;
  }

  .switch input:checked + label {
    background-color: #0099FF;
  }

  .switch.tiny label {
    height: 16px;
    vertical-align: bottom;
  }

  .switch.tiny label:after {
    height: 8px;
    width: 8px;
  }  

  .portfolio-performance-text {
    font-size: 16px;
    color: $grey4;
    font-family: $font-family;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .on-expiry {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .center-calendar-text {
    padding-left: 280px;
  }

  .button-padding-right {
    padding-right: 30px;
  }

  .tabs dd > a {
    font-family: 'Arial';
    font-size: 11px;
    color: $grey4;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-style: normal;
    padding: 0 10px 0 0;
    background: $white !important;
  }

  .tabs dd.active a {
    color: $grey2;
  }

  .tabs dd:not(:last-child) {
    border-right: 1px solid #000000;
  }

  .tabs dd:last-child {
    padding-left: 10px;
  }

  .years-selection {
    border-left: 1px solid #2f67b1;
    border-top: 1px solid #2f67b1;
    border-bottom: 1px solid #2f67b1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  div.years-selection:hover {
    background: $grey2;
  }

  div.years-selection:hover > a {
    color: $white !important;
  }

  div.years-selection:hover > i {
    color: $white !important;
  }

  .back-arrow {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: auto;
  }

  .forward-arrow {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #2F67B1;
    height: auto;
  }

  .padding-below-performers {
    padding-bottom: 30px;
  }

  .sector-breakdown-additional-info {
    padding-left: 50px;
  }

  .search-textbox {
    width: 225px !important;
  }

  .text-blue-instruments-name {
    color: #0000FF;
    font-size: 18px;
  }

  .text-grey-instruments-name {
    color: #CDCDCD;
    font-size: 12px;
  }

  .text-grey-instruments-value-large {
    color: #A3A3A3;
    font-size: 25px;
  }

  .text-grey-instruments-qty {
    color: #6B6B6B;
    font-size: 14px;
  }

  .text-grey-instruments-qty-value {
    color: #B5B5B5;
    font-size: 14px;
  }

  .text-green-large {
    color: #007F00;
    font-weight: normal !important; 
    font-size: 18px;
    font-size: 1.8rem;
  }

  .text-red-large {
    color: #FF0000;
    font-weight: normal !important; 
    font-size: 18px;
    font-size: 1.8rem;
  }

  .instrument-code {
    color: $grey2;
    font-size: 19px;
  }

  .instrument-name {
    color: #999;
    font-size: 10px;
  }

  .instrument-value-large {
    color: #999;
    font-size: 34px;
  }

  .instrument-data-medium {
    font-size: 12px;
    color: #666;
  }

  .instrument-data {
    font-size: 12px;
    color: #666;
  }

  .instrument-data-light-grey {
    font-size: 12px;
    color: #999;
  }

  .instrument-data-unit-cost {
    font-size: 12px;
    color: #999;
  }

  .instrument-percentage {
    font-size: 18px;
  }

  .instrument-text-blue {
    color: $grey2 !important;
    font-size: 12px;
  }

  .instrument-bold-text {
    color: $grey3;
    font-size: 12px;
    font-weight: 900;
    padding-left: 1px !important;
  }

  .instrument-bold-text-blue {
    color: $grey2 !important;
    font-size: 12px;
    font-weight: 900;
  }

  .context-navigation-padding {
    padding-right: 15px;
  }

  .mobile-border {
    border-bottom: 1px solid #E3E3E3;
  }

  .width {
    width: 50%;
  }

  .icon-triggers:before {
    content: "\e607";
  }

  .top-widgets {
    height: 100%;
    width: 18.9%;
    display: inline-block;
    padding:2px;
    padding-bottom: 8px;
    color: $white;
    text-align: center;
  }

  .gainers {
    background-color: #007F00 !important;
    border-bottom:1px solid $white;
  }

  .losers {
    background-color: #FF0000 !important;
    border-bottom:1px solid $white;
  }

  .top-performers-heading-spacing {
    display: inline-block;
    padding-right: 335px;
  }

  .top-performers-headings {
    font-size: 18px;
    color: $grey4;
    line-height: 48px;
    padding-bottom:10px;
  }

  .top-performers-name {
    padding-top: 6px;
    font-size: 12px;
    font-family: $font-family;
    color: $white;
  }

  .heading-padding {
    padding-left: 11px;
  }

  .text-blue-instruments-name {
    color: #0000FF;
    font-size: 18px;
  }

  .text-grey-instruments-name {
    color: #cdcdcd;
    font-size: 12px;
  }

  .text-grey-instruments-value-large {
    color: #a3a3a3;
    font-size: 25px;
  }

  .text-grey-instruments-qty {
    color: #6b6b6b;
    font-size: 14px;
  }

  .text-grey-instruments-qty-value {
    color: #b5b5b5;
    font-size: 14px;
  }

  .mobile-buttons {
    width:49%; 
    height:50px;
  }

  .action-buttons {
    width:100%; 
    background: #EFF0F3;
    margin-bottom: 20px;
  }

  .action-button-text {
    color: $grey2;
  }

  .action-button-text:hover {
    color: $grey2;
  }

  .portfolio-overview-manage-columns-padding {
    padding-right: 10px;
  }

  .portfolio-overview-download-button {
    width:133px;
  }

  .portfolio-overview-mobile-border {
    border-bottom: 1px solid #E3E3E3;
  }

  .portfolio-overview-mobile-instrument-name {
    border-right: 1px solid #E3E3E3; 
    width:49%; 
    padding-bottom:15px;
  }

  .portfolio-overview-mobile-instrument-value {
    width:49%;
  }

  .portfolio-overview-mobile-additional-information {
    width:49%; 
    padding-top:17px; 
    border-right:1px solid #dbdbdb;
  }

  .portfolio-overview-mobile-quantity {
    width:39%;
  }

  .portfolio-overview-mobile-unit-cost {
    width:59%;
  }

  .portfolio-overview-mobile-instrument-padding {
    padding-right:15px;
  }

  .sector-name {
    width: 40%; 
    padding-bottom: 15px;
  }

  .sector-data {
    width: 25%; 
    padding-bottom: 15px;
  }

  .sector-data-width {
    width: 25%;
  }

  .sector-total-movement {
    width: 49%; 
    padding-top: 17px;
  }

  .sector-data-two-column-width {
    width: 49%;
  }

  .sector-additional-information {
    height: 105px;
  }

  .sector-additional-information-padding {
    padding-left:10px !important;
  }

  .market-news-heading {
    font-weight: 900;
    font-size: 14px;
    color: $grey4;
  }

  .market-news-heading-padding {
    padding-bottom: 10px;
  }

  .market-news-date {
    font-size: 14px;
    color: $grey1;
  }

  .market-news-date-padding {
    padding-bottom: 5px;
  }

  .market-news-description {
    font-size: 14px;
    color: $grey2;
  }

  .market-news-description-padding {
    padding-bottom: 10px;
  }
  .ranked-holding {
    float: left;
    padding: 15px 10px;
    color: $white;
    min-height: 50px;
    margin: 0 2px 1em;
    height: 100px;
    background-color: #EEEEEE;
  }

  .portfolio-overview-container .ranked-holding {
    width: 19%;
  }

  .ranked-holding .ranked-holding-detail {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .ranked-holding-zero-value {
    color: $grey4;
  }

  .ranked-holding-instrument {
    clear:both;
  }

  .ranked-holding-indicator {
    padding: 5px 0;
  }

  .ranked-holding-indicator .fa {
    font-size: 23px;
  }

  .ranked-holding-percentage {
    padding-top: 2px;
  }

  .ranked-holding-value {
    padding-top: 3px;
  }

  .download-button-size {
    width: 133px;
  }

  .portfolio-navigation {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 40em) {
    .mobilelineseperator-instruments {
     border-bottom: 1px solid #EEEEEE;
     margin-left:10px !important;
     margin-right:15px !important;
     padding-bottom: 8px;
     padding-top: 0;
     margin-bottom: 8px; 
   }

   .sector-mobile-hr {
    padding-left: 10px;
    padding-right: 15px;
  }

  .padding-for-bold-instruments {
    margin-left:10px !important;
    margin-right:10px !important;
    padding-top: 5px;
  }

  .portfolio-overview-phone {
    width: 100%;
  }

  .phone-color {
    background-color: $white;
  }

  .acc-empty-boxes {
   background: #F8F8F8;
   border-left: 0;
   border-top: 0;
   float: left;
   border-radius: 0;
   color: $grey2;
   width: 100%;
   font-size: 14px;
   padding-left: 15px;
   margin-left: 0;
   padding-top: 13px;
   border-bottom: 1px solid #397DE3;
   margin-bottom: 0;
   font-family: $font-family;
 }

 .portfolio-overview-container {
   width: 100%;
   background: $white;
   border: 0 !important;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   border-top-right-radius: 0;
   float: left;
   margin-bottom: 20px;
   list-style-type: none;
   font-size: 12px !important; 
   font-family: $font-family;
   position: relative;
   padding: 5px;
   z-index: 0;
   min-height: 600px;
 }

 .search-textbox {
  width: 100% !important;
  padding: 15px 10px 5px 10px;
}

.mobile-buttons {
 width:49%; 
 padding:10px;
 height:auto !important;
}

.action-buttons {
  width:94% !important; 
  background: #EFF0F3;
  margin-bottom: 20px;
  margin-left: 10px;
}
}