<style type="text/css">
    
    .alert-tick-green {
      color: #5FA33B;
      font-size: 68px;
      padding-bottom: 15px;
  }

  .alert-text-large-bold {
      font-size:20px;
      margin-bottom:10px;
      font-weight:900;
  }

  .alert-text-align {
      text-align:center !important;
      padding-bottom: 25px;
  }

  .alert-text-large {
      font-size:20px;
      text-align:center !important;
      margin-bottom:20px;
  }

  .alert-text-medium {
      font-size:15px;
      text-align:center !important;
      margin-bottom:20px;
      color:#808080;
  }

  .timeout-alert-outer {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eff0f3;
      z-index: 9999;
  }

  .timeout-alert-content {
      padding: 20px;
      background-color: #f8f8f8;
      z-index: 10000;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      max-width: 500px;
      -webkit-box-shadow: 0 23px 23px 7px #A6A6A6;
      box-shadow: 0 23px 23px 7px #A6A6A6;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      border:1px solid #d8d8d8;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }

  .logout-button {
      width: 69px;
  }

  .login-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eff0f3;
    z-index: 9999;
}

.login-content {
    padding: 20px;
    background-color: white;
    z-index: 10000;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 500px;
    -webkit-box-shadow: 0 23px 23px 7px #A6A6A6;
    box-shadow: 0 23px 23px 7px #A6A6A6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.color-red {
    color: red;
}
</style>
<form data-abide id="loginForm">
    <div ng-class="{'login-outer': login.isStandAlone}">
        <div ng-class="{'login-content': login.isStandAlone}">
            <div class="row" ng-show="login.isAuthenticated">
                <div style="font-size:16px;">Welcome to Online Share Trading</div>
                <div ng-show="login.isAuthenticated">
                    <button ng-click="login.goToApp()">Continue</button>
                </div>
            </div>
            <div ng-show="!login.isAuthenticated">
                <div id="u23" class="row">
                    <p><span>Sign in to Online Share Trading</span></p>
                </div>
                <div class="row color-red" ng-if="login.sessionTimedOut" style="color: red">
                    <div>You have not interacted with this website in a while.</div>
                    <div>To protect your account's security, we automatically logged you out of Online Share Trading.</div>
                </div>
                <div class="row color-red" ng-if="login.authenticationFailed">
                    You have entered an incorrect username or password. please try again.
                </div>
                <div class="row">
                    <input type="text" placeholder="User ID" ng-model="login.username" required/>
                    <small class="error">You have to specify your User ID.</small>
                </div>
                <div class="row">
                    <input type="password" placeholder="Password" ng-model="login.password" required/>
                    <small class="error">You have to specify your password.</small>
                    <a href="#">Have you forgotten your password?</a>
                </div>
                <div class="row">
                    <button type="submit" ng-click="login.login()">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</form>
