<form data-abide id="loginForm">
    <div class="login-outer">
        <div class="login-content">
            <div class="row" ng-show="login.isAuthenticated">
                <p align="center"><img src="images/logo_login.png" alt=""/></p>
                <br/>
                <p align="center" class="login-header">Welcome to<br/>Online Share Trading</p>
                <br/>
                <div ng-show="login.isAuthenticated">
                    <p align="center">
                        <button ng-click="login.goToApp()">Continue</button>
                    </p>
                </div>
            </div>
            <div ng-show="!login.isAuthenticated">
                <div id="u23" class="row">
                    <p align="center"><img src="images/logo_login.png" alt=""/></p>
                    <br/>
                    <p align="center" class="login-header">Sign in to Online Share Trading</p>
                </div>
                <br/>
                <div class="row error-message" ng-if="login.sessionTimedOut">
                    <div>You have not interacted with this website in a while.</div>
                    <div>To protect your account's security, we automatically logged you out of Online Share Trading.</div><br/><br/>
                </div>
                <div class="row error-message" ng-if="login.authenticationFailed">
                    You have entered an incorrect username or password.  Please try again.<br/><br/>
                </div>
                <div class="row">
                    <p align="center">
                        <input type="text" placeholder="User ID" ng-model="login.username" required/>
                        <small class="error">You have to specify your User ID.</small>
                    </p>
                </div>
                <div class="row">
                    <p align="center">
                        <input class="login-input" type="password" placeholder="Password" ng-model="login.password" required/>
                        <small class="error">You have to specify your password.</small>
                        <p align="center">
                            <a href="#" class="login-blue-text">Have you forgotten your password?</a>
                        </p>
                    </p>
                </div>
                <br/>
                <div class="row">
                    <p align="center">
                        <button class="button login-button-width" type="submit" class="button" ng-click="login.login()">Sign in</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <p align="center" class="login-black-text">By signing on I acknowledge that I have read and understand<br>
        the <span class="login-blue-text">terms and conditions</span> for using Online Share Trading.</p><br/>
        <p align="center" class="login-blue-text">Need help? Call us on : 0861 121 161</p>
    </p>
    <p>&nbsp;</p>
</form>
