@media only screen and (max-width: 40em) {
	.details-overview {
		display: block;
		font-size: 12px;
		color: #666666;
		font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
		padding-right: 0;
		margin-right: 0; 
	}

	.bigger-width-on-phone {
		width: 100% !important;
	}

	.block-portfolio-value-text {
		display: block !important;
	}

	.portfolio-value {
		text-align: center;
	}

	.block-text {
		display: inline-block;
		padding: 5px;
	}

	.details-overview-amounts-bold-phone {
		float:right;
		padding: 0;
	}

	.hide-hr {
		display: none;
	}

	.accounts-details-wrapper {
		margin-bottom: 0;
		padding:0;
		margin-top:-4px;
	}

	.details-warp .details-overlay {
		height: auto;
		padding:0;
	}

	.phone-color {
		background-color: #E0E0E0;
		padding: 10px 0 10px 10px;
	}

	.row {
		width: auto;
		margin: 0;
		max-width: none;
	}

	.time-delay-phone {
		background-color: #FFFFFF;
		width: 100%;
		padding: 10px 0 10px 15px;
	}
	
	.column, .columns {
		padding-left: 10px;
	}

	.account-details-amounts-bold-phone {
		font-size: 14px; 
		color: #666666; 
		font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
		display: inline-block;
		font-weight:900;
		margin-right: 10px;
	}

	.portfolio-value-bold {
		font-size: 14px;
		color: #666666;
		font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
		display: inline-block;
		font-weight:900;
		margin-right:0;
	}

	div.sub-header-wrapper .sub-header .sub-header-options span {
		cursor: pointer;
		margin: 0;
		margin-left: 50px;
		text-align: center;
		width: 10%;
	}
	
	.details-overview-feed-details {
		font-size: 12px;
		color: #999;
		font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
		display: inline-block;
	}

	.seperator {
		border-left:1px solid #DEDEDE;
		padding-left:0;
	}

	div.sub-header-wrapper .sub-header {
		padding: 0 0 15px 0;
		height: 100%;
		margin-bottom:0;
		border-bottom: 1px solid #a3a3a5;
		padding-top: 20px;
	}
	
	.body-wrapper {
		background: #e9eaed;
		padding-top: 0;
		margin-top:0;
	}
}