/* Start of override css from main.css */

.acc-trans-body-container {
	padding-left: 15px;
}

.details-overlay {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 18px 20px;
	margin-top: 8px;
	background: #e2e4e9;
	position: relative;
	height: 155px;
}

.sub-header-options {
	font-weight: bold;
	color: #0099FF;
}

.account-icons {
  padding-left: 20px;
  font-size: 26px;
  color : #0000FF;
  top: 0px;
}

/* End of override css from main.css */

/* Start of custom OST css */

.details-overview {
	font-size: 12px;
	color: #666666;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	margin-right: 15px;
}

.details-overview-amounts-bold {
	font-size: 14px;
	color: #666666;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	font-weight:900;
	margin-right: 20px;
}

.portfolio-value-bold {
	font-size: 14px;
	color: #666666;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	font-weight:900;
	margin-right: 20px;
}

.details-overview-bluetext {
	font-size: 12px;
	color: #2570e0;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	margin-right: 20px;
}

.details-overview-medium {
	font-size: 12px;
	color: #666666;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
}

.streaming-button {
	font-size: 12px;
	color: #2570e0;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	border: 1px solid #A3A3A5;
	padding: 7px;
}

.details-overview-feed-details {
	font-size: 12px;
	color: #999;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	float:right;
}

.details-overview-values {
	font-size: 12px;
	color: #999;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	padding-top:5px;
	padding-bottom:10px;
}

.dashboard-details-font-size {
	font-size: 14px;
}

.dashboard-overview-details {
	font-size: 14px;
	color: #0099FF;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	padding:2px;
}

.dashboard-details-overlay {
	height: 10px !important;
	padding:2px !important;
	background-color: #FFFFFF;
}

.cash-summary-buttons {
	font-size: 12px;
	width: 68px;
	height: 28px;
	padding: 5px;
}

.gainers1 {
  background-color: #007F00 !important;
  padding:2px;
}

.gainers2 {
  background-color: #339933 !important;
  padding:2px;
}

.gainers3 {
  background-color: #66b266 !important;
  padding:2px;
}

.gainers4 {
  background-color: #99cc99 !important;
  padding:2px;
}

.gainers5 {
  background-color: #cce5cc !important;
  padding:2px;
}

.losers1 {
  background-color: #FF0000 !important;
  padding:2px;
}

.losers2 {
  background-color: #ff3333 !important;
  padding:2px;
}

.losers3 {
  background-color: #ff6666 !important;
  padding:2px;
}

.losers4 {
  background-color: #ff9999 !important;
  padding:2px;
}

.losers5 {
  background-color: #ffcccc !important;
  padding:2px;
}

/* End of custom OST css */