<accordion close-others="false">
<accordion-group is-open="isopen" ng-init="isopen=true">
<accordion-heading>
Top movers <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Top movers content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Instruments <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Instruments content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Portfolio performance <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Portfolio performance content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Market news <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Market news content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Orders <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Orders content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Triggers <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Triggers content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Cash history <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Cash history content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Reports <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Reports content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Statements <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Statements content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Cost structure <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Cost structure content
</accordion-group>
<accordion-group is-open="isopen" ng-init="isopen=false">
<accordion-heading>
Contract notes <i class="right" ng-class="{'fi-arrow-up': isopen, 'fi-arrow-down': !isopen}"></i>
</accordion-heading>
Contract notes content
</accordion-group>
<!-- <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
{{group.content}}
</accordion-group>
<accordion-group heading="Dynamic Body Content">
<p>The body of the accordion group grows to fit the contents</p>
<div ng-repeat="item in items">{{item}}</div>
</accordion-group>
<accordion-group is-open="isopen">
<accordion-heading>
I can have markup, too! <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
</accordion-heading>
This is just some content to illustrate fancy headings.
</accordion-group> -->
</accordion>