<style>
	.row-headings-market-news {
		font-weight:bold;
		font-size: 14px;
		color: #666666;
	}

	.row-data-market-news-date {
		font-size: 14px;
		color: #999999;
	}

	.row-data-market-news-description {
		font-size: 14px;
		color: #2570E0;
	}
</style>
<div>
	<span class="headingFormat">Market news</span>
</div>
<div class="row"><hr/></div>
<div><span class="row-headings-market-news">Sens</span></div>
<div><span class="row-data-market-news-date">13 Feb 15:00</span></div>
<div><span class="row-data-market-news-description">This is a description</span></div>
<div class="row"><hr/></div>