<div class="headerrow">
<div class="column medium-6 large-6 left">
	<span class="headingFormat">Market news</span>
</div>

</div>
<div class="row"><hr/></div>
<div class="market-news-heading-padding"><span class="market-news-heading">Sens</span></div>
<div class="market-news-date-padding"><span class="market-news-date">13 Feb 15:00</span></div>
<div class="market-news-description-padding"><span class="market-news-description">This is a description</span></div>
<a href="#"><span class="bold-text text-blue">View more</span></a>
<div class="row"><hr/></div>
