<div>
	<span>Porfolio overview</span>
</div>
<div class="dashboard-widget-gradient"></div>
<div>
	<table>
		<tr>
		<td style="'colspan':{{heading.styles.colspan}}" 
			ng-repeat="heading in JSONdata.headings">{{heading.name}}</td>
		</tr>
		<tr>
			<td ng-style="{'rowspan':heading.styles.colspan}" 
			ng-repeat="subheading in JSONdata.subheadings">{{subheading.name}}</td>
		</tr>
		<tr ng-click="clickToOpen(data.code)" ng-repeat="data in JSONdata.data">
			<td ng-if="data.code">{{data.code}}</td>
			<td ng-if="data.instrument.amount">{{data.abl.amount}}</td>
			<td ng-if="data.unitR">{{data.unitR}}</td>
			<td ng-if="data.totalUnit">{{data.totalUnit}}</td>
			<td ng-if="data.priceR2">{{data.priceR2}}</td>
			<td ng-if="data.totalRCurrent">{{data.totalRCurrent}}</td>
			<td ng-if="data.priceChangeToday">{{data.priceChangeToday}}</td>
			<td ng-if="data.profitLossToday">{{data.profitLossToday}}</td>
			<td ng-if="data.priceChangeTotal">{{data.priceChangeTotal}}</td>
			<td ng-if="data.profitLossTotal">{{data.profitLossTotal}}</td>
		</tr>
		<tr>
			<td>{{JSONdata.totals[0].name}}</td>
			<td></td>
			<td></td>
			<td>{{JSONdata.totals[0].totalR}}</td>
			<td></td>
			<td>{{JSONdata.totals[0].current}}</td>
			<td>{{JSONdata.totals[0].priceChangeToday}}</td>
			<td>{{JSONdata.totals[0].profitLossToday}}</td>
			<td>{{JSONdata.totals[0].priceChangeToday}}</td>
			<td>{{JSONdata.totals[0].priceChangeTotal}}</td>
			<td>{{JSONdata.totals[0].profitLossTotal}}</td>
			<td></td>
			<td>{{JSONdata.totals.portfolio}}</td>
		</tr>
	</table>
</div><br/><br/>
<div>
	<table>
		<tr>
			<td>On expiry</td><td>{{JSONdata.data[0].onExpiry}}</td>
		</tr>
		<tr>
			<div>
				<span>Instrument Information</span>
			</div>
			<div class="dashboard-widget-gradient"></div>
		</tr>
		<tr>
			<td>12 month low</td><td>{{JSONdata.data[0].twelveMonthLow}}</td>
			<td>12 month high</td><td>{{JSONdata.data[0].twelveMonthHigh}}</td>
			<td>Market cap</td><td>{{JSONdata.data[0].marketCap}}</td>
		</tr>
		<tr>
			<td>Date of low</td><td>{{JSONdata.data[0].dateOfLow}}</td>
			<td>Date of high</td><td>{{JSONdata.data[0].dateOfHigh}}</td>
			<td>P/E Ratio</td><td>{{JSONdata.data[0].peRatio}}</td>
		</tr>
		<tr ng-click>
			<td class="mouse-cursor-hover" ng-repeat='section in sections' ng-click="goToView(section.id)">{{section.name}}</td>
		</tr>
	</table>
</div>