<div>
	<span class="headingFormat">Portfolio performance</span>
</div>
<div class="row">
	<hr/>
</div>
<div class="row">
	<div class='columns large-12 medium-4 small-12'>
	<div class="portfolio-performance-text left">% Holding period return showing
		</div>
		<div class="portfolio-performance-text right no-right-margin">
			<div class="inline-block years-selection back-arrow pointer"><i class="fa fa-chevron-left text-blue"></i></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2015</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2014</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2013</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2012</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2011</span></a></div><div class="inline-block years-selection forward-arrow pointer"><i class="fa fa-chevron-right text-blue"></i></div>
		</div>
	</div>
</div>
<div class="row">
	<highchart id="chart1" config="portfolioPerformanceChart"></highchart>
</div>