<div class="row">
	<span class="headingFormat left">Portfolio overview</span>
	<div class="portfolio-performance-buttons right">
		<div class="portfolio-performance-buttons button-padding-right" ng-include src="'common/search-dropdown.html'">
		</div>
		<div class="portfolio-performance-buttons" ng-include src="'common/download-button.html'">
		</div>
	</div>
</div>
<div class="row"><hr/></div>
<div class="row">
	<div class="positionSwitch" ng-include src="'common/performers.html'"></div>
</div>
<kendo-grid options="portfolioOverviewGrid" k-selectable="true" k-on-change="onSelection(kendoEvent)">
<div k-detail-template>
	<kendo-tabstrip>
	<ul>
		<li class="k-state-active"></li>
	</ul>
	<div kendo-grid k-options="portfolioOverviewGridAdditionalInformation(dataItem)">
		<div ng-include src="'views/portfolio/partials/views/portfolio-overview-grid-additional-information.html'"></div>
	</kendo-tabstrip>
</div>
</kendo-grid>