<style type="text/css">
	.portfolio-performance-table {
		width: 9.3rem;
		text-align: center;
	}

	.portfolio-performance-table-year {
		text-align: right;
		width: 5.0rem;
	}

	.portfolio-performance-table-row {
		padding: 10px 0;
	}
</style>
<div>	
	<div class="headerrow">
		<div class="column medium-6 large-6 left">
			<span class="headingFormat">Portfolio performance</span>
		</div>
		<div class="column medium-6 large-6">
			<div class="portfolio-performance-text right">
				<div class="inline-block years-selection back-arrow pointer"><i class="fa fa-chevron-left text-blue"></i></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2015</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2014</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2013</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2012</span></a></div><div class="inline-block years-selection pointer"><a href="" class="text-blue"><span>2011</span></a></div><div class="inline-block years-selection forward-arrow pointer"><i class="fa fa-chevron-right text-blue"></i></div>
			</div>
		</div>
	</div>
	<hr/>
</div>
<div class="column small medium-12 large-12">
	<span class="top-performers-headings">% Holding period return showing</span>
</div>
<div class="column small medium-12 large-12">
	<highchart id="chart1" config="portfolioPerformanceChart"></highchart>
</div>
<div class="column portfolio-performance-table-row small-12 medium-12 large-12">
	<div class="inline-block portfolio-performance-table-year bold-text text-dark-grey">2015</div>
	<div class="inline-block portfolio-performance-table text-green">2.56</div>
	<div class="inline-block portfolio-performance-table text-red">-5.89</div>
	<div class="inline-block portfolio-performance-table text-red">-3.16</div>
	<div class="inline-block portfolio-performance-table text-red">-2.08</div>
	<div class="inline-block portfolio-performance-table text-green">5.00</div>
	<div class="inline-block portfolio-performance-table text-red">-16.21</div>
	<div class="inline-block portfolio-performance-table text-green">0.89</div>
	<div class="inline-block portfolio-performance-table text-red">-1.67</div>
	<div class="inline-block portfolio-performance-table text-green">10.76</div>
	<div class="inline-block portfolio-performance-table text-red">-10.76</div>
	<div class="inline-block portfolio-performance-table text-green">16.87</div>
	<div class="inline-block portfolio-performance-table text-red">-2.01</div>
	<div class="inline-block portfolio-performance-table text-green">20.22</div>
</div>
<div class="column portfolio-performance-table-row small-12 medium-12 large-12">
	<hr class="hide-hr" style="margin: 0 20px 0 0;">
</div>
<div class="column portfolio-performance-table-row small-12 medium-12 large-12">
	<div class="inline-block portfolio-performance-table-year bold-text text-dark-grey">2014</div>
	<div class="inline-block portfolio-performance-table text-green">2.56</div>
	<div class="inline-block portfolio-performance-table text-red">-5.89</div>
	<div class="inline-block portfolio-performance-table text-red">-3.16</div>
	<div class="inline-block portfolio-performance-table text-red">-2.08</div>
	<div class="inline-block portfolio-performance-table text-green">5.00</div>
	<div class="inline-block portfolio-performance-table text-red">-16.21</div>
	<div class="inline-block portfolio-performance-table text-green">0.89</div>
	<div class="inline-block portfolio-performance-table text-red">-1.67</div>
	<div class="inline-block portfolio-performance-table text-green">10.76</div>
	<div class="inline-block portfolio-performance-table text-red">-10.76</div>
	<div class="inline-block portfolio-performance-table text-green">16.87</div>
	<div class="inline-block portfolio-performance-table text-red">-2.01</div>
	<div class="inline-block portfolio-performance-table text-green">20.22</div>
</div>
<div class="column portfolio-performance-table-row small-12 medium-12 large-12">
	<div class="inline-block portfolio-performance-table-year bold-text text-dark-grey">2013</div>
	<div class="inline-block portfolio-performance-table text-green">2.56</div>
	<div class="inline-block portfolio-performance-table text-red">-5.89</div>
	<div class="inline-block portfolio-performance-table text-red">-3.16</div>
	<div class="inline-block portfolio-performance-table text-red">-2.08</div>
	<div class="inline-block portfolio-performance-table text-green">5.00</div>
	<div class="inline-block portfolio-performance-table text-red">-16.21</div>
	<div class="inline-block portfolio-performance-table text-green">0.89</div>
	<div class="inline-block portfolio-performance-table text-red">-1.67</div>
	<div class="inline-block portfolio-performance-table text-green">10.76</div>
	<div class="inline-block portfolio-performance-table text-red">-10.76</div>
	<div class="inline-block portfolio-performance-table text-green">16.87</div>
	<div class="inline-block portfolio-performance-table text-red">-2.01</div>
	<div class="inline-block portfolio-performance-table text-green">20.22</div>
</div>
<div class="column portfolio-performance-table-row small-12 medium-12 large-12">
	<div class="inline-block portfolio-performance-table-year bold-text text-dark-grey">2012</div>
	<div class="inline-block portfolio-performance-table text-green">2.56</div>
	<div class="inline-block portfolio-performance-table text-red">-5.89</div>
	<div class="inline-block portfolio-performance-table text-red">-3.16</div>
	<div class="inline-block portfolio-performance-table text-red">-2.08</div>
	<div class="inline-block portfolio-performance-table text-green">5.00</div>
	<div class="inline-block portfolio-performance-table text-red">-16.21</div>
	<div class="inline-block portfolio-performance-table text-green">0.89</div>
	<div class="inline-block portfolio-performance-table text-red">-1.67</div>
	<div class="inline-block portfolio-performance-table text-green">10.76</div>
	<div class="inline-block portfolio-performance-table text-red">-10.76</div>
	<div class="inline-block portfolio-performance-table text-green">16.87</div>
	<div class="inline-block portfolio-performance-table text-red">-2.01</div>
	<div class="inline-block portfolio-performance-table text-green">20.22</div>
</div>
<div class="column portfolio-performance-table-row small-12 medium-12 large-12">
	<div class="inline-block portfolio-performance-table-year bold-text text-dark-grey">2011</div>
	<div class="inline-block portfolio-performance-table text-green">2.56</div>
	<div class="inline-block portfolio-performance-table text-red">-5.89</div>
	<div class="inline-block portfolio-performance-table text-red">-3.16</div>
	<div class="inline-block portfolio-performance-table text-red">-2.08</div>
	<div class="inline-block portfolio-performance-table text-green">5.00</div>
	<div class="inline-block portfolio-performance-table text-red">-16.21</div>
	<div class="inline-block portfolio-performance-table text-green">0.89</div>
	<div class="inline-block portfolio-performance-table text-red">-1.67</div>
	<div class="inline-block portfolio-performance-table text-green">10.76</div>
	<div class="inline-block portfolio-performance-table text-red">-10.76</div>
	<div class="inline-block portfolio-performance-table text-green">16.87</div>
	<div class="inline-block portfolio-performance-table text-red">-2.01</div>
	<div class="inline-block portfolio-performance-table text-green">20.22</div>
</div>