<div class="row show-for-medium-up">
	<span class="headingFormat">Sector breakdown</span>
</div>
<div class="row show-for-medium-up"><hr/></div>
<div class="show-for-medium-up">
	<kendo-grid  options="sectorBreakdownGrid" k-selectable="'row'"></kendo-grid>
</div>

<div class="row hide-for-medium-up">
	<div class="phone-table">
		<div class="row" style="border-bottom: 1px solid #E3E3E3;">
			<div class="inline-block instrument-text-blue" style="width:40%; padding-bottom:15px;">
				Banks
			</div>
			<div class="inline-block right" style="width:25%; padding-bottom:15px;">
				<span class="right instrument-data bold-text">Total cost</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
			<div class="inline-block right" style="width:25%;">
				<span class="right instrument-data bold-text">Market value</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
		</div>
		<div class="row">
			<div class="inline-block" style="width:49%; padding-top:17px;">
				<div class="inline-block left">
					<span class="instrument-data-light-grey bold-text">Total movement % change</span> <br>
					<span class="instrument-data-light-grey">% of Portfolio</span>
				</div>
			</div>
			<div class="inline-block" style="width:49%;">
				<span class="right text-green">+63.2% (R 1,251.69)</span><br>
				<span class="right instrument-data-light-grey bold-text">0.16%</span>
			</div>
		</div>
	</div>
</div>