<div class="row show-for-medium-up">
	<div class="headerrow">
	<div class="column medium-6 large-6 left">
		<span class="headingFormat">Sector breakdown</span>
	</div>
	<div class="column medium-6 large-6">
	<div>
		<a href="#" class="anchor-links right"><i class="icon icon-list-view text-blue"></i><span>List</span></a>
	</div>
	<div>
		<a href="#" class="anchor-links right"><i class="icon icon-graph text-blue"></i><span>Graph</span></a>
	</div>
	</div>
</div>
<div class="row show-for-medium-up"><hr/></div>
<div class="row">
	<div class="inline-block right sector-allocation-heading-padding">
		<span class="top-performers-headings">Sector Allocation</span>
	</div>
</div>
<div>
	<highchart id="sector-breakdown" config="chartConfig"></highchart>
</div>
</div>
<div class="row"><hr/></div>
<div class="row">
	<div class="sector-allocation-headings-positioning right sector-allocation-heading-padding">
		<span class="top-performers-headings sector-allocation-headings-positioning">Instrument Allocation - Banks</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="sector-allocation-headings-positioning sector-allocation-dropdown-positioning">
		<button class="button dropdown portfolio-overview-download-button">Banks</button>
		</div>
	</div>
</div>
<div>
	<highchart id="sector-breakdown-detailed" config="chartConfigDetailed"></highchart>
</div>
<br>
<div class="row hide-for-medium-up">
	<div class="phone-table" ng-click="showDetailsSectorBreakdownBanks = ! showDetailsSectorBreakdownBanks">
		<div class="row mobile-border">
			<div class="inline-block sector-name"><i class="fa fa-caret-up text-green"></i>&nbsp;<span class="instrument-text-blue">
				Banks</span>
			</div>
			<div class="inline-block right sector-data">
				<span class="right instrument-data bold-text">Total cost</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
			<div class="inline-block right sector-data-width">
				<span class="right instrument-data bold-text">Market value</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
		</div>
		<div class="row">
			<div class="inline-block sector-total-movement">
				<div class="inline-block left">
					<span class="instrument-data-light-grey bold-text">Total movement % change</span> <br>
					<span class="instrument-data-light-grey">% of Portfolio</span>
				</div>
			</div>
			<div class="inline-block sector-data-two-column-width">
				<span class="right text-green bold-text">+63.2% (R 1,251.69)</span><br>
				<span class="right instrument-data-light-grey bold-text">0.16%</span>
			</div>
		</div>
	</div>
	<div class="phone-table">
		<div class="row mobile-border">
			<div class="inline-block sector-name"><i class="fa fa-caret-down text-red"></i>&nbsp;<span class="instrument-text-blue">
				Brewers</span>
			</div>
			<div class="inline-block right sector-data">
				<span class="right instrument-data bold-text">Total cost</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
			<div class="inline-block right sector-data-width">
				<span class="right instrument-data bold-text">Market value</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
		</div>
		<div class="row">
			<div class="inline-block sector-total-movement">
				<div class="inline-block left">
					<span class="instrument-data-light-grey bold-text">Total movement % change</span> <br>
					<span class="instrument-data-light-grey">% of Portfolio</span>
				</div>
			</div>
			<div class="inline-block sector-data-two-column-width">
				<span class="right text-red bold-text">-63.2% (R 1,251.69)</span><br>
				<span class="right instrument-data-light-grey bold-text">0.16%</span>
			</div>
		</div>
	</div>
</div>
<div class="hide-for-medium-up" ng-show="showDetailsSectorBreakdownBanks">
	<div class="action-buttons">
		<div class="inline-block mobile-buttons" align="right"><span class="icon icon-list-view"></span>
			<a href="#" class="action-button-text">List</a>
		</div>
		<div class="inline-block mobile-buttons" align="left"><span class="icon icon-graph"></span>
			<a href="#" class="action-button-text">Graph</a>
		</div>
	</div>
	<div class="phone-table">
		<div class="row mobile-border">
			<div class="inline-block sector-name"><i class="fa fa-caret-up text-green"></i>&nbsp;<span class="instrument-text-blue">
				Banks</span>
			</div>
			<div class="inline-block right sector-data">
				<span class="right instrument-data bold-text">Total cost</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
			<div class="inline-block right sector-data-width">
				<span class="right instrument-data bold-text">Market value</span>
				<span class="right instrument-data-light-grey">R 1,980.29</span>
			</div>
		</div>
		<div class="row">
			<div class="inline-block sector-total-movement">
				<div class="inline-block left">
					<span class="instrument-data-light-grey bold-text">Total movement % change</span> <br>
					<span class="instrument-data-light-grey">% of Portfolio</span>
				</div>
			</div>
			<div class="inline-block sector-data-two-column-width">
				<span class="right text-green bold-text">+63.2% (R 1,251.69)</span><br>
				<span class="right instrument-data-light-grey bold-text">0.16%</span>
			</div>
		</div>
	</div>
	<div class="sector-additional-information">
		<div class="row sector-additional-information-padding">
			<div class="columns large-12 phone-color left">
				<div class="details-overview inline-block">
					<div class="block-text instrument-bold-text">
						<i class="fa fa-caret-up text-green"></i>&nbsp;<span class="instrument-text-blue">
						FSRABL</span>
					</div>
				</div>
			</div>
		</div>
		<div class="columns large-12 phone-color left">
			<div class="details-overview inline-block seperator">
				<span class="block-text instrument-bold-text padding-for-bold-instruments">
					Total movement
				</span>
				<div class="details-overview-amounts-bold-phone">
					<span class="account-details-amounts-bold-phone">
						{{cashSummaryComponent.ostModel.totalInitialMarginFormatted}}
					</span>
				</div>
			</div>
			<div class="details-overview inline-block seperator">
				<span class="block-text instrument-bold-text padding-for-bold-instruments">
					% of Portfolio
				</span>
				<div class="details-overview-amounts-bold-phone">
					<span class="account-details-amounts-bold-phone">
						{{cashSummaryComponent.ostModel.totalInitialMarginFormatted}}
					</span>
				</div>
			</div>
			<div class="details-overview inline-block seperator">
				<span class="block-text instrument-bold-text padding-for-bold-instruments">
					On expiry
				</span>
				<div class="details-overview-amounts-bold-phone">
					<span class="account-details-amounts-bold-phone">
						{{cashSummaryComponent.ostModel.marginProductPLFormatted}}
					</span>
				</div>
			</div>
		</div>
		<div class="sector-mobile-hr"><hr/></div>
	</div>
</div>
