<div class='dashboard-widget-heading'>
    <span ng-if="tile.heading">{{tile.heading}}</span>
    <span ng-if="tile.hasAccountTable">Account {{tile.accountNumber}}</span>
</div>
<div class="dashboard-widget-gradient"></div>
<div class="dashboard-widget-content">
    <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">
        <div class="dashboard-widget-available-balance">
            <div>
                <span ng-if="tile.subheading">{{tile.subheading}}</span><br/>
                <span class="widget-balance widget-balance-value">{{tile.availableBalance.currency}}</span>
                <span class="widget-balance widget-balance-value">{{tile.availableBalance.amount}}</span>
            </div>
        </div>

        <div class="phone-table">
        		<div class="row">
        		</div>
        		<div class="row">
        			<div class="inline-block dashboard-block-noborder-left padding-bottom">
        				<div class="inline-block">
        					<span class="dashboard-widget-available-balance-grey">R 8 189.00</span><br>
        					<span class="left dashboard-description-text">Daily</span>
        				</div>
        			</div>
        			<div class="inline-block dashboard-block-border-right right">
                <span class="right dashboard-widget-available-balance-grey text-green">+2.4 (0.02%)</span><br>
                <span class="dashboard-description-text right">Total change</span>
        			</div>
        		</div>
        	</div>


        <div class="phone-table">
        		<div class="row portfolio-overview-mobile-border">
        		</div>
        		<div class="row">
        			<div class="inline-block dashboard-block-border-left">
        				<div class="inline-block">
        					<span class="dashboard-widget-available-balance-grey">R 8 189.00</span><br>
        					<span class="left dashboard-description-text">Available trading funds</span>
        				</div>
        			</div>
        			<div class="inline-block dashboard-block-border-right right">
                <span class="right dashboard-widget-available-balance-grey">R 8 189.00</span><br>
                <span class="dashboard-description-text right">Cash</span>
        			</div>
        		</div>
        	</div>
    </div>

</div>
