<div class='dashboard-widget-heading'>
    <span ng-if="tile.heading">{{tile.heading}}</span>
    <span ng-if="tile.hasAccountTable">Account {{tile.accountNumber}}</span>
</div>
<div class="dashboard-widget-gradient"></div>
<div class="dashboard-widget-content">
    <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">

    </div>
        <div class="dashboard-widget-table">
          <div class="row border-bottom-padding">
          				<div class="dashboard-description-text widget-left">
                  <span class="boldtext">Trade</span><br>
                  </div>
                  <div class="dashboard-description-text widget-center">
                    <span>Volume</span>
                  </div>
                  <div class="widget-right">
                    <span class="dashboard-description-text right">Value</span><br>
                  </div>

          </div>
          <div class="row border-bottom-padding">
                  <div class="dashboard-description-text widget-left">
                  <span class="boldtext">AGL</span><br>
                  <span class="dashboard-description-text ">Stop Loss - Fixed</span>
                  </div>
                  <div class="dashboard-description-text widget-center">
                    <span>22 Feb 2015 18:00</span>
                  </div>
                  <div class="widget-right">
                    <span class="dashboard-description-text right">Trigger price 3000c</span><br>
                    <span class="dashboard-description-text right text-red">Cancel trigger</span>
                  </div>

          </div>
          <div class="row border-bottom-padding">
                  <div class="dashboard-description-text widget-left">
                  <span class="boldtext">FSR</span><br>
                  <span class="dashboard-description-text ">Alert - Trailing</span>
                  </div>
                  <div class="dashboard-description-text widget-center">
                    <span>22 Feb 2015 18:00</span>
                  </div>
                  <div class="widget-right">
                    <span class="dashboard-description-text right">Trigger price 3000c</span><br>
                    <span class="dashboard-description-text right text-red">Cancel trigger</span>
                  </div>

          </div>
        </div>
