<div class='dashboard-widget-heading'>
    <span ng-if="tile.heading">{{tile.heading}}</span>
    <span ng-if="tile.hasAccountTable">Account {{tile.accountNumber}}</span>
</div>
<div class="dashboard-widget-gradient"></div>
<div class="dashboard-widget-content">
    <div class="dashboard-widget-table">
      <div>
      					<ul>
      							<li class="list-separator-dashboard dashboard-widget-blue-text"><i class="icon-calendar"></i>Event : Upcoming webinars
      							<span class="dashboard-description-text right">28 Feb 2015</span>
      							</li>
                    <li class="list-separator-dashboard dashboard-widget-blue-text"><i class="icon-calendar"></i>Event : Upcoming webinars
                    <span class="dashboard-description-text right">07 Mar 2015</span>
      							</li>
                    <li class="list-separator-dashboard dashboard-widget-blue-text"><i class="icon-calendar"></i>Event : Upcoming webinars
                    <span class="dashboard-description-text right">14 Mar 2015</span>
                    </li>
                    <li class="list-separator-dashboard dashboard-widget-blue-text"><i class="icon-like"></i>How to:  Learn to trade CFDs
                    <span class="dashboard-description-text right">14 Mar 2015</span>
                    </li>
                    <li class="list-separator-dashboard dashboard-widget-blue-text"><i class="icon-like"></i>How to:  Learn to trade CFDs
                    <span class="dashboard-description-text right">19 Mar 2015</span>
                    </li>
                    <li class="list-separator-dashboard dashboard-widget-blue-text"><i class="icon-orders"></i>Courses : SSF trading
                    <span class="dashboard-description-text right">17 Mar 2015</span>
                    </li>
      </div>
    </div>
</div>
