<div class='dashboard-widget-heading'>
    <span ng-if="tile.heading">{{tile.heading}}</span>
    <span ng-if="tile.hasAccountTable">Account {{tile.accountNumber}}</span>
</div>
<div class="dashboard-widget-gradient"></div>
<div class="dashboard-widget-content">
    <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">

    </div>
    <div class="inline-block years-selection pointer yearendlineleft percentage33 yearsselected"><a href="" class="text-blue"><span class="yearsselected">Pending</span></a></div><div class="inline-block years-selection pointer percentage33"><a href="" class="text-blue"><span>Completed</span></a></div><div class="inline-block years-selection pointer yearendlineright percentage33"><a href="" class="text-blue"><span>Failed</span></a></div></div>
    <div class="dashboard-widget-content">
        <div class="dashboard-widget-table">
          <div class="row border-bottom-padding">
          				<div class="dashboard-description-text widget-left">
                  <span class="dashboard-description-text ">Sell 5000 PREFTX @ 327c</span>
                  </div>
                  <div class="dashboard-description-text widget-center">
                    <span>22 Feb 2015 18:00</span>
                  </div>
                  <div class="widget-right">
                    <span class="dashboard-description-text right">Total cost 13.84</span><br>
                    <span class="dashboard-description-text right text-red">Cancel order</span>
                  </div>

          </div>
          <div class="row border-bottom-padding">
                  <div class="dashboard-description-text widget-left">
                  <span class="dashboard-description-text ">Sell 4000 AGL @ 456c</span>
                  </div>
                  <div class="dashboard-description-text widget-center">
                    <span>22 Feb 2015 18:00</span>
                  </div>
                  <div class="widget-right">
                    <span class="dashboard-description-text right">Total cost 12.20</span><br>
                    <span class="dashboard-description-text right text-red">Cancel order</span>
                  </div>

          </div>
          <div class="row border-bottom-padding">
                  <div class="dashboard-description-text widget-left">
                  <span class="dashboard-description-text ">Buy 5000 SBK @ 227c</span>
                  </div>
                  <div class="dashboard-description-text widget-center">
                    <span>22 Feb 2015 18:00</span>
                  </div>
                  <div class="widget-right">
                    <span class="dashboard-description-text right">Total cost 14.84</span><br>
                    <span class="dashboard-description-text right text-red">Cancel order</span>
                  </div>

          </div>
        </div>


</div>
