<div class='dashboard-widget-heading'>
  <span ng-if="tile.heading">{{tile.heading}}</span>
</div>
<div class="dashboard-widget-gradient"></div>
<div class="dashboard-widget-content">
  <div class="row padding-below-performers visible-for-medium-up">
    <div class="row">
      <div class="top-widgets gainers" ng-show="performer.gain == true" ng-repeat-start="performer in performers">
        <div class="top-performers-name"><span>{{performer.name}}</span></div><br/>
        <i class="fa fa-caret-up"></i><br/>
        <span>{{performer.percentage}}</span><br/>
        <span>{{performer.amount}}</span>
      </div>
      <div class="inline-block" ng-repeat-end></div>
    </div>
    <div class="row">
      <div class="top-widgets losers" ng-show="performer.gain == false" ng-repeat-start="performer in performers">
        <div class="top-performers-name"><span>{{performer.name}}</span></div><br/>
        <i class="fa fa-caret-down"></i><br/>
        <span>{{performer.percentage}}</span><br/>
        <span>{{performer.amount}}</span>
      </div>
      <div class="inline-block" ng-repeat-end></div>
    </div>
  </div>
</div>