<div class="details-warp large sml-popup-top-gradient">
  <div class="row details-overlay">
    <div class="row">
      <div class="column large-5">
        <div class="details-overview">Portfolio value<br>
          <span class="details-overview-amounts-bold">{{cashSummaryComponent.ostModel.portfolioValueFormatted}}</span> 
        </div>
        <div class="details-overview">Daily change<br>
          <span class="details-overview-amounts-bold text-green">{{cashSummaryComponent.ostModel.dailyChangeValueFormatted}}({{cashSummaryComponent.ostModel.dailyChangePercentageFormatted}})</span>
          <i class="text-green fi-arrow-up"></i>
        </div>
        <div class="details-overview">Total change<br>
          <span class="details-overview-amounts-bold text-green">{{cashSummaryComponent.ostModel.totalChangeValueFormatted}}({{cashSummaryComponent.ostModel.totalChangePercentageFormatted}})</span>
          <i class="text-green fi-arrow-up"></i>
        </div>
      </div>
      <div class="column large-1 details-overlay-gutter"> 
      </div>
      <div class="column large-7 right" align="right">
        <div class="details-overview-bluetext"> Quotes bank balance (1) (R100.00) 
        </div>
        <div class="inline-block">
          <select class="cash-summary-buttons text-blue">
            <option value="live">Live</option>
            <option value="delayed">Delayed</option>
          </select>
        </div>
        <div class="inline-block">
          <select class="cash-summary-buttons text-blue">
            <option value="bid">Bid</option>
            <option value="ruling">Ruling</option>
          </select>
        </div>
        <div class="streaming-button pointer" ng-click="toggleStreaming()" 
        ng-class="{'text-blue': streamingButtonActive === true, 'text-grey': streamingButtonActive === false}">Streaming
      </div>
      <div class="details-overview-feed-details"> As at {{time}} (15 min delayed - Reuters) 
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="columns large-12 details-overview-values left">
      <div class="details-overview-medium">{{cashSummaryComponent.ostModel.accountType}} cash balance<br>
        {{cashSummaryComponent.ostModel.cashBalanceFormatted}}
      </div>
      <div class="details-overview-medium"> Derivatives initial margin<br>
        {{cashSummaryComponent.ostModel.totalInitialMarginFormatted}}
      </div>
      <div class="details-overview-medium"> Today"s derivatives P&amp;L<br>
        {{cashSummaryComponent.ostModel.marginProductPLFormatted}}
      </div>
      <div class="details-overview-medium"> Total cash<br>
        {{cashSummaryComponent.ostModel.totalCashValueFormatted}}
      </div>
      <div class="details-overview-medium"> Available trading funds<br>
        {{cashSummaryComponent.ostModel.availableTradingFundsFormatted}}
      </div>
      <div class="details-overview-medium"> Value before auto close out<br>
        {{cashSummaryComponent.ostModel.availableCashBeforeAutoCloseoutFormatted}}
      </div>
    </div>
  </div>
</div>
</div>