<div class="details-warp large sml-popup-top-gradient">
  <div class="row details-overlay">
    <div class="row">
      <div class="column large-5">
        <div class="details-overview inline-block portfolio-value">
          <span class="block-text block-portfolio-value-text">Portfolio value</span>
          <span class="portfolio-value-bold">{{cashSummaryComponent.ostModel.portfolioValueFormatted}}</span> 
        </div>
        <div class="bigger-width-on-phone inline-block">
          <div class="details-overview inline-block">
            <span class="block-text">Daily change</span>
            <div class="details-overview-amounts-bold-phone">
              <span class="details-overview-amounts-bold text-green">{{cashSummaryComponent.ostModel.dailyChangeValueFormatted}}({{cashSummaryComponent.ostModel.dailyChangePercentageFormatted}})<i class="text-green fi-arrow-up"></i></span>
            </div>
          </div>
          <div class="details-overview inline-block">
            <span class="block-text">Total change</span>
            <div class="details-overview-amounts-bold-phone">
              <span class="details-overview-amounts-bold text-green">{{cashSummaryComponent.ostModel.totalChangeValueFormatted}}({{cashSummaryComponent.ostModel.totalChangePercentageFormatted}})<i class="text-green fi-arrow-up"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-1 details-overlay-gutter"> 
      </div>
      <div class="show-for-large column large-7 right" align="right">
        <div class="details-overview-bluetext"> Quotes bank balance (1) (R100.00) 
        </div>
        <div class="inline-block">
          <select class="cash-summary-buttons text-blue">
            <option value="live">Live</option>
            <option value="delayed">Delayed</option>
          </select>
        </div>
        <div class="inline-block">
          <select class="cash-summary-buttons text-blue">
            <option value="bid">Bid</option>
            <option value="ruling">Ruling</option>
          </select>
        </div>
        <div class="streaming-button pointer" ng-click="toggleStreaming()" 
        ng-class="{'text-blue': streamingButtonActive === true, 'text-grey': streamingButtonActive === false}">Streaming
      </div>
      <div class="details-overview-feed-details"> As at {{time}} (15 min delayed - Reuters) 
      </div>
    </div>
  </div>
  <hr class="hide-hr">
  <div class="row">
    <div class="columns large-12 details-overview-values phone-color left">
      <div class="details-overview inline-block">
        <span class="block-text">
          {{cashSummaryComponent.ostModel.accountType}} cash balance
        </span>
        <div class="details-overview-amounts-bold-phone">
          <span class="account-details-amounts-bold-phone">
            {{cashSummaryComponent.ostModel.cashBalanceFormatted}}
          </span>
        </div>
      </div>
      <div class="details-overview inline-block">
        <span class="block-text">
          Derivatives initial margin
        </span>
        <div class="details-overview-amounts-bold-phone">
          <span class="account-details-amounts-bold-phone">
            {{cashSummaryComponent.ostModel.totalInitialMarginFormatted}}
          </div>
        </div>
        <div class="details-overview inline-block">
          <span class="block-text">
            Today"s derivatives P&amp;L
          </span>
          <div class="details-overview-amounts-bold-phone">
            <span class="account-details-amounts-bold-phone">
              {{cashSummaryComponent.ostModel.marginProductPLFormatted}}
            </span>
          </div>
        </div>
        <div class="details-overview inline-block">
          <span class="block-text">
            Total cash
          </span>
          <div class="details-overview-amounts-bold-phone">
            <span class="account-details-amounts-bold-phone">
              {{cashSummaryComponent.ostModel.totalCashValueFormatted}}
            </span>
          </div>
        </div>
        <div class="details-overview inline-block">
          <span class="block-text">
            Available trading funds
          </span>
          <div class="details-overview-amounts-bold-phone">
            <span class="account-details-amounts-bold-phone">
              {{cashSummaryComponent.ostModel.availableTradingFundsFormatted}}
            </span>
          </div>
        </div>
        <div class="details-overview inline-block">
          <span class="block-text">
            Value before auto close out
          </span>
          <div class="details-overview-amounts-bold-phone">
            <span class="account-details-amounts-bold-phone">
              {{cashSummaryComponent.ostModel.availableCashBeforeAutoCloseoutFormatted}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="show-for-small row time-delay-phone">
      <div class="details-overview-feed-details left"> As at {{time}} (15 min delayed - Reuters) 
      </div>
    </div>
  </div>
</div>