<div class="details-warp small large sml-popup-top-gradient">
  <div class="row details-overlay dashboard-details-overlay">
    <div class="row">
      <div class="column large-4 medium-4">
        <div class="details-overview">
        <div class="details-overview dashboard-details-font-size"><span class="brightBlue">My dashboard</span> > Account - 4567890</div>
              </div>
            </div>
            <div class="column large-2 medium-2 details-overlay-gutter"> </div>
            <div class="column large-6 medium-4 right dashboard-overview-details" 
            align="right">
              <div class="dashboard-overview-details">Transfer</div>
              <div class="dashboard-overview-details">Search</div>
              <div class="dashboard-overview-details">Trade</div>
            </div>
          </div>
        </div>
      </div>