
<div class="details-warp small large sml-popup-top-gradient">
  <div class='row details-overlay'>
    <div class="row">
      <div class='column large-4 medium-4'>
        <div class='details-overview'>
          <div class='details-overview'> Portfolio value<br>
            <span class="details-overview-amounts-bold"> R55000</span> </div>
            <div class='details-overview'> Daily change<br>
              R8500.00 </div>
              <div class='details-overview'> Total change<br>
                1.4% </div>
              </div>
            </div>
            <div class='column large-1 medium-1 details-overlay-gutter'> </div>
            <div class='column large-7 medium-5 right' align="right">
              <div class='details-overview-bluetext'> Quotes bank balance (1) (R100.00) </div>

              <div class="ost-buttons" ng-click="disableDelayed=true;disableLive=false;" ng-init="disableDelayed=true" ng-class="{'disabled pointer': disableDelayed, 'enabled pointer': !disableDelayed}">Delayed</div>&nbsp;|
              <div class="ost-buttons" ng-click="disableDelayed=false;disableLive=true;" ng-init="disableLive=false" ng-class="{'disabled pointer': disableLive, 'enabled pointer': !disableLive}">Live</div>
              <!-- <div class="ost-buttons" ng-click="disableBid=true;disableRuling=false;" ng-init="disableBid=true" ng-class="{'disabled pointer': disableBid, 'enabled pointer': !disableBid}">Bid</div>&nbsp;|
              <div class="ost-buttons" ng-click="disableBid=false;disableRuling=true;" ng-init="disableRuling=false" ng-class="{'disabled pointer': disableRuling, 'enabled pointer': !disableRuling}">Ruling</div> -->

              <div class="switch tiny"><span>Bid </span>
  <input id="exampleCheckboxSwitch" type="checkbox">
  <label for="exampleCheckboxSwitch"></label><span> Ruling</span>
</div> 

              <div class="details-overview-bluetext-streaming pointer" ng-click="btn.streaming = !btn.streaming">{{!btn.streaming && 'Streaming' || 'Other'}}</div>
              <div class="details-overview-feed-details"> As at {{time}} (15 min delayed - Reuters) </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class='columns large-12 medium-4 small-12 details-overview-values'>
              <div class='details-overview-medium left'>
                <div class='details-overview-medium'> JSE cash balance<br>
                  R 2000 008.90 
                </div>
                <div class='details-overview-medium'> Derivatives initial margin<br>
                  R100 998.90 
                </div>
                <div class='details-overview-medium'> Today's derivatives P&L<br>
                  R 299 008.90 
                </div>
                <div class='details-overview-medium'> Total cash<br>
                  R 289 908.90 
                </div>
                <div class='details-overview-medium'> Available trading funds<br>
                  R 200 000.00 
                </div>
                <div class='details-overview-medium'> Value before auto close out<br>
                  R 200 000.00
                </div>
              </div>
            </div>
          </div>
        </div>
