<div class="sub-header-wrapper">
    <div class="sub-header-grid">
      <div class="sub-header row clearfix">
        <div class="sub-header-title left show-for-large-up base-link-color pointer">My Dashboard
        </div>&nbsp;
        <i class="fi-arrow-right"></i>
        &nbsp;&nbsp;
        <div class ="account-details-dropdown">
          <p class="accounts-dropdown">
            <a class="accounts-dropdown" dropdown-toggle="#accounts-dropdown">Cheque Account - 1234567&nbsp;<i class="fi-arrow-down"></i></a>
          </p>
          <ul id="accounts-dropdown" class="f-dropdown">
            <li class="list-separator" ng-repeat="account in accounts">
              <a>{{account}}</a>
            </li>
          </ul>
        </div>
        <div class="right sub-header-options">
          <span class="right">
            <i class="fi-magnifying-glass header-icons"></i>
          </span>
          <span class="right">Trade</span>
          <span class="right">Transfer</span>
        </div>
      </div>
    </div>
  </div>
</div>