<div class="sub-header-wrapper">
  <div class="sub-header-grid">
    <div class="sub-header row clearfix">
      <div class="show-for-large sub-header-title left base-link-color pointer">
        <span>My Dashboard&nbsp;<i class="fa fa-chevron-right"></i></span>
      </div>
      &nbsp;&nbsp;
      <div class ="account-details-dropdown">
        <p class="show-for-large accounts-dropdown">
          <a class="accounts-dropdown" dropdown-toggle="#accounts-dropdown">Cheque Account - 1234567&nbsp;<i class="fa fa-chevron-down"></i></a>
        </p>
        <ul id="accounts-dropdown" class="show-for-large f-dropdown">
          <li class="list-separator" ng-repeat="account in accounts">
            <a>{{account}}</a>
          </li>
        </ul>
      </div>
      <div class="right sub-header-options columns small-3 medium-3 large-4">
      <span class="right small-3 medium-3"><i class=" sub-header-options fi-magnifying-glass"></i></span>
      <span class="right small-3 medium-3">Transfer</span>
      <span class="right small-3 medium-3">Trade</span>
      
      </div>
       
      </div>
    </div>
  </div>
</div>
</div>