<li ng-controller="TradeInstrumentInformationCtrl" class="portfolio-overview-container left" ng-show="view == 1"
ng-include src="'views/trade/partials/views/trade-instrument-information.html'"></li>
<li ng-controller="TradeResearchCtrl" class="portfolio-overview-container left" ng-show="view == 2"
ng-include src="'views/trade/partials/views/trade-research.html'"></li>
<li ng-controller="TradeCompanyCtrl" class="portfolio-overview-container left" ng-show="view == 3"
ng-include src="'views/trade/partials/views/trade-company.html'"></li>
<li ng-controller="TradeShareForumCtrl" class="portfolio-overview-container left" ng-show="view == 4"
ng-include src="'views/trade/partials/views/trade-share-forum.html'"></li>