/*Global*/
$base-font-size-secondary : 12px;
$base-font-size : 14px;
$base-border-radius : 3px;
$base-link-color: #2570e0;
$base-color-dark:#333333;
$base-color-medium:#666666;
$base-color-light:#999999;
$base-color-error: #cc0033;

/* FONTS */


$font-light:'HelveticaNeue-Light','robotolight',Arial,sans-serif;
$font-medium:'HelveticaNeue-Medium','HelveticaNeue','robotomedium',Arial,sans-serif;
$font-ultra-light:'HelveticaNeue-UltraLight','robotolight',Arial,sans-serif;
$font-thin:'HelveticaNeue-Thin','robotothin',Arial,sans-serif;
$font-regular:'HelveticaNeue-Regular','HelveticaNeue','robotoregular',Arial,sans-serif;
$font-bold:'HelveticaNeue-Bold','robotobold',Arial,sans-serif;
$font-roman:'HelveticaNeue-Roman','HelveticaNeue','robotoregular',Arial,sans-serif;
$font-italic:'HelveticaNeue-Italic','Roboto',Arial,sans-serif;



/* Buttons */

$form-button-height: 32px;
$form-button-border-size : 1px;
$form-button-line-height:30px;

$primary-button-background: #4185eb;
$primary-button-color: #fff;
$primary-button-border-color: #0066cc;


$secondary-button-background:#fff;
$sec-button-border-txt-color: #2570e0;
$sec-button-border-txt-color-hover: #26428b;
$sec-button-border-txt-color-active: #666;

/* Table */

$table-border-colour: #d7d7d7;
$table-heading-border-size: 2px;
$table-border-size: 1px;
$table-blue-colour: #2570e0;
$table-padding-size: 15px;


/* HEADER */

$header-blue-colour: #2570e0;
$body-background-color:#e9eaed;

/* DASHBOARD */

$dashboard-gutter-right:10px;
$dashboard-gutter-left:10px;
$dashboard-gutter:20px;

/*ERROR*/

$errror-text-color: #cc0033;

