<link href="../styles/tiles.css" rel="stylesheet" type="text/css">
<div>
    <div class="body-wrapper" body-height height-offset='236' height-type='min-height'>
        <div class="dashboard-grid">
            <div class="row">
              <div ng-include src="'views/tile-account-view.html'" class="columns dashboard-gutter large-6">
                </div>
              <div ng-include src="'views/tile-account-view.html'" class="columns dashboard-gutter large-6">
                </div>
  <div ng-include src="'views/tile-edited.html'" class="columns dashboard-gutter large-3">
                </div>
                <div ng-include src="'views/tile-edited.html'" class="columns dashboard-gutter large-3">
                </div>
                <div ng-include src="'views/tile-edited.html'" class="columns dashboard-gutter large-3">
                </div>
                <div ng-include src="'views/tile-edited.html'" class="columns dashboard-gutter large-3">
                </div>
                
          </div>
          
  </div>
</div>
</div>