<div>
    <div class="body-wrapper" body-height height-offset='236' height-type='min-height'>
        <div class="dashboard-grid">
            <div class="row">
                <div ng-repeat="tile in accountDetails |DashboardTiles:filterHeroTile" ng-include src="'views/tile.html'" class="columns dashboard-gutter large-6">
                </div>
                <div ng-repeat="tile in accountDetails |DashboardTiles:filterSmallTile" ng-include src="'views/tile.html'" class="columns dashboard-gutter large-3">
                </div>
            </div>
            <div ng-include src="'views/stickybar.html'">
            </div>
            <div class="row dashboard-add-edit-wrapper ">
                <span><img ng-src='images/add-dashboard.png'> Add tiles or widgets</span>
                <span><img ng-src='images/edit-dashboard.png'> Edit dashboard</span>
            </div>
        </div>
    </div>
</div>