

<div class='dashboard-widget' ng-class="{ 'dashboard-widget-active':tile.notification == 'none','dashboard-widget-dormant-hover':tile.notification != 'none'}" ng-click="goToAccounts(tile.accountNumber,tile.name);">

    <div ng-switch on="tile.notification" class='widget-round-corner'>
        <img ng-switch-when="warning" src='images/widget-corner-grey.png'>
        <img ng-switch-when="critical" src='images/widget-corner-red.png'>
        <img ng-switch-when="default" src='images/widget-corner.png'>
    </div>
    <div class="dashboard-widget-content-wrapper" ng-class="{'small-widget-content-wrapper' : tile.isHero == false}">
        <div class='dashboard-widget-heading'>
            <span ng-if="tile.heading || tile.hasChart">{{tile.heading}}</span>
            <span ng-if="tile.hasAccountTable">Account {{tile.accountNumber}}</span>
        </div>
        <div class="dashboard-widget-gradient"></div>
        <div class='dashboard-widget-content'>
            <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix" ng-if="tile.hasAccountTable">
                <div class="dashboard-widget-available-balance" ng-if="tile.hasAccountTable">
                    <div class="widget-balance-value">
                        <span ng-if="tile.subheading">{{tile.subheading}}</span><br/>
                        <span class="widget-balance">{{tile.availableBalance.currency}}</span>
                        <span class="widget-balance">{{tile.availableBalance.amount}}</span>
                    </div>
                </div>
            </div>
            <div class="dashboard-widget-table" ng-if="tile.hasAccountTable">
                <table>
                    <tr ng-if="tile.accountTable.daily.amount || tile.accountTable.totalChange.amount">
                        <td ng-if="tile.accountTable.daily.amount">{{tile.accountTable.daily.currency}}{{tile.accountTable.daily.amount}}</td>
                        <td ng-if="tile.accountTable.totalChange.amount" ng-class="{'text-green':tile.accountTable.totalChange.isIncrease == true, 'text-red':tile.accountTable.totalChange.isIncrease == false}">{{tile.accountTable.totalChange.amount}} ({{tile.accountTable.totalChange.percent}}) <i ng-class="{'fi-arrow-up':tile.accountTable.totalChange.isIncrease == true, 'fi-arrow-down':tile.accountTable.totalChange.isIncrease == false}"></i></td>
                    </tr>
                    <tr ng-if="tile.accountTable.daily || tile.accountTable.totalChange">
                        <td ng-if="tile.accountTable.daily">Daily</td>
                        <td ng-if="tile.accountTable.totalChange">Total Change</td>
                    </tr>
                    <tr ng-if="tile.accountTable.securities.amount || tile.accountTable.cash.amount">
                        <td ng-if="tile.accountTable.securities.amount">{{tile.accountTable.securities.currency}}{{tile.accountTable.securities.amount}}</td>
                        <td ng-if="tile.accountTable.cash.amount">{{tile.accountTable.cash.currency}}{{tile.accountTable.cash.amount}}</td>
                    </tr>
                    <tr ng-if="tile.accountTable.securities || tile.accountTable.cash">
                        <td ng-if="tile.accountTable.securities">Securities</td>
                        <td ng-if="tile.accountTable.cash">Cash</td>
                    </tr>
                </table>
            </div>
            <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">
                <div ng-if="tile.hasChart == true">
                    <button type="button" class="button" ng-click="limitData()">Limit Data</button>
                    <button type="button" class="button" ng-click="resetData()">Reset Data</button>
                    <highchart id="chart" style="width: 427px; height: 243px;" config="tile.chartData"></highchart>
                </div>
            </div>
            <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">
                <div ng-if="tile.hasDropdown == true">
                    <select id = "dropdown" ng-repeat="dropDownData in tile.dropdownData">
                        <option ng-repeat="dropdown in dropDownData" value="{{dropdown.id}}">{{dropdown.value}}</option>
                    </select>
                </div>
            </div>
            <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">
                <div ng-if="tile.hasTextArea == true">
                  <textarea rows="4" cols="4">
                    {{tile.textAreaText}}
                </textarea>
            </div>
        </div>
        <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">
          <div ng-if="tile.hasButton == true">
             <button ng-repeat="button in tile.buttons">{{button}}</button>
         </div>
     </div>
     <div class="dashboard-widget-table" ng-if="tile.hasVerticalTable">
        <table>
            <tr ng-if="tile.tableHeadings">
                <td ng-repeat="heading in tile.tableHeadings"><b>{{heading}}</b></td>
            </tr>
            <tr ng-repeat="data in tile.tableData">
                <td ng-repeat="actualData in data">{{actualData}}</td>
            </tr>
        </table>
    </div>
</div>
</div>
</div>