<div class='dashboard-widget' ng-class="{ 'dashboard-widget-active':tile.notification == 'none','dashboard-widget-dormant-hover':tile.notification != 'none'}" ng-click="goToAccounts(tile.accountNumber,tile.name);">

    <div ng-switch on="tile.notification" class='widget-round-corner'>
        <img ng-switch-when="warning" src='images/widget-corner-grey.png'>
        <img ng-switch-when="critical" src='images/widget-corner-red.png'>
        <img ng-switch-default src='images/widget-corner.png'>
    </div>
    <div class="dashboard-widget-content-wrapper" ng-class="{'small-widget-content-wrapper' : tile.isHero == false}">
        <div class='dashboard-widget-heading'>
             <span ng-if="tile.hasAccountTable">Account {{tile.accountNumber}}</span>
             <span ng-if="tile.hasChart">{{tile.heading}}</span>
        </div>
        <div class="dashboard-widget-gradient"></div>
        <div class='dashboard-widget-content'>
            <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix" ng-if="tile.hasAccountTable">
                <div class="dashboard-widget-available-balance" ng-if="tile.hasAccountTable">
                    <div class="widget-balance-value">
                        <span>PORTFOLIO VALUE</span><br/>
                        <span class="widget-balance">{{tile.availableBalance.currency}}</span>
                        <span class="widget-balance">{{tile.availableBalance.amount}}</span>
                    </div>
                </div>
            </div>
            <div class="dashboard-widget-table" ng-if="tile.hasAccountTable">
                <table>
                    <tr ng-if="tile.accountTable.daily.amount || tile.accountTable.totalChange.amount">
                        <td ng-if="tile.accountTable.daily.amount">{{tile.accountTable.daily.currency}}{{tile.accountTable.daily.amount}}</td>
                        <td ng-if="tile.accountTable.totalChange.amount">{{tile.accountTable.totalChange.amount}} ({{tile.accountTable.totalChange.percent}}) ({{tile.accountTable.totalChange.isIncrease}})</td>
                    </tr>
                    <tr ng-if="tile.accountTable.daily || tile.accountTable.totalChange">
                        <td ng-if="tile.accountTable.daily">Daily</td>
                        <td ng-if="tile.accountTable.totalChange">Total Change</td>
                    </tr>
                    <tr ng-if="tile.accountTable.securities.amount || tile.accountTable.cash.amount">
                        <td ng-if="tile.accountTable.securities.amount">{{tile.accountTable.securities.currency}}{{tile.accountTable.securities.amount}}</td>
                        <td ng-if="tile.accountTable.cash.amount">{{tile.accountTable.cash.currency}}{{tile.accountTable.cash.amount}}</td>
                    </tr>
                    <tr ng-if="tile.accountTable.securities || tile.accountTable.cash">
                        <td ng-if="tile.accountTable.securities">Securities</td>
                        <td ng-if="tile.accountTable.cash">Cash</td>
                    </tr>
                </table>
            </div>
            <div ng-class="{ 'dashboard-widget-content-top':tile.isHero == true ,'dashboard-widget-content-small':tile.isHero == false}" class="clearfix">
                <div ng-if="tile.hasChart == true">
                    <highchart id="chart" style="width: 427px; height: 243px;" config="tile.chartData"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>
