<div class="dropdown">
  <button class="button" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="width:150px; margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
    <span class="pull-left">Manage columns</span>
    <span class="fa fa-chevron-down pull-right"></span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="i in items">
      <a ng-click="select(i); focus()">
        <i ng-class="{'fa-check-square-o': i.checked, 'icon-empty': !i.checked}"></i>{{i.label}}</a>
    </li>
  </ul>
</div>