<!-- <div class="blur-placeholder blur">
</div>
<div class="tab-bar">
<div ng-include src="'common/header.html'">
</div>
<div ng-include src="'views/accounts/partials/header.html'">
</div>
</div>
<div>
	<div class="body-wrapper">
		<div class="row">
			<div ng-include src="'views/accounts/partials/cash-summary.html'" class="columns accounts-details-wrapper"></div>
		</div>
		<div class="row">
			<div class="columns large-1 medium-1 small-12 left empty-box-container" ng-include src="'views/portfolio/partials/sections.html'"></div>
			<div class="columns large-11 medium-11 right acc-trans-body-container"
			ng-include src="'views/portfolio/partials/views.html'"></div>
			<div class="show-for-medium-up columns large-12 medium-12 right acc-trans-body-container noLeftPadding" ng-include src="'common/footer.html'"></div>
		</div>
	</div>
</div> -->

<div ng-include src="'common/login.html'">
